header.no-nav
    .container
        .header
            a.no-nav__logo(href='#')
                img(src='${require(`./assets/images/kizad-logo-white.svg`)}' alt='logo')

            .no-nav__language
                a(href="") English


.banner-no-nav
    .container
        .row.block-content
            .col-sm-6.campaign-content
                h1 Easy Access to Aluminium & Steel
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .col-sm-6.campaign-form
                .no-nav__form
                    form.form(action="")
                        h3 ENQUIRE ABOUT METALS
                        .form__item
                            input.form-control.support-input.text-input(placeholder="First Name"  data-rule-minlength="2" data-rule-required="true" name="FirstName"  type="text" value="" onkeyup="this.setAttribute('value',this.value);")
                            //- label First Name
                            span
                        .form__item
                            input.form-control.support-input.text-input(placeholder="Last Name" data-msg="Last Name" data-rule-maxlength="20" data-rule-minlength="2" data-rule-required="true" name="LastName"  type="text" value="" onkeyup="this.setAttribute('value',this.value);")
                            //- label Last Name
                            span

                        .form__item
                            input.form-control.support-input.text-input(placeholder="Company" data-msg="Compant" type='text' required  name ='compan' data-rule-minlength="2" data-validate-presence = 'true', value="" data-validate-email= 'true' onkeyup="this.setAttribute('value',this.value);")
                            //- label Company
                            span

                        .form__item
                            input.form-control.support-input.text-input(placeholder="Phone" data-msg="Phone" data-rule-phone="true" data-rule-required="true" data-validate-presence="true" name="ContactNumber" type="tel" value="" aria-invalid="true" onkeyup="this.setAttribute('value',this.value);")
                            //- label Phone
                            span
                        .form__item
                            input.form-control.support-input.text-input(placeholder="Email" data-msg="Email" type='email' required  name ='email' data-rule-minlength="2" data-validate-presence = 'true', value="" data-validate-email= 'true' onkeyup="this.setAttribute('value',this.value);")
                            //- label Email
                            span
                        .form__item
                            textarea.form-control.support-input.text-input(placeholder="Message" data-msg="" name="message", required  data-validate-presence = 'true' data-rule-maxlength="150" data-rule-minlength="15")
                            span

                        span.form-footer
                            button.btn.btn-secondary(type='submit') Send