.form {
  border-radius: 4px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  padding: 32px 16px;
  @include lg {
    padding: 80px;
    max-width: 884px;
  }
  .field-validation-error {
    span {
      display: none !important;
    }
  }
  .custom-text {
    margin-bottom: 18px;
    margin-top: 32px;
    @include lg() {
      margin-bottom: 24px;
    }
    h2 {
      @include font-size($md-font);
      @include line-height($xl-line-height);
      font-family: $font-roboto-regular;
      margin-bottom: 8px;
      color: $primary;
    }
    p {
      font-family: $font-roboto-light;
      @include font-size($paragraph-font);
    }
  }
  .custom-dropdown {
    position: relative;
  }
  .form-footer {
    margin-top: 8px;
    @include md() {
      margin-top: 33px;
    }
    input.btn {
      // height: auto;
      padding: 0;
      padding: 10px 30px;
      border-radius: 10px;
      background: $grey;
      font-size: 14px;
      color: $white;
      &.active {
        background: $secondary;
      }
    }
  }
  input,
  textarea,
  .custom-dropdown select {
    border-radius: 4px;
    border: solid 1px #d9d8d9;
    background-color: $mute;
    color: $primary;
    font-family: $font-roboto-regular;
    @include font-size($xs-font);
    @include line-height($md-line-height);
    @include lg {
      @include font-size($sm-font);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & [type="number"] {
      -moz-appearance: textfield;
    }

    &:focus {
      box-shadow: none;
    }
    & ~ span {
      opacity: 0;
    }
    &.error {
      border: 2px solid #e60000;
    }
    &.has-value,
    &.error,
    .input-validation-error {
      width: calc(100% - 32px);
      transition: width 0.2s;
      @include lg {
        width: calc(100% - 48px);
      }
      & ~ span {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;

        &:after {
          font-family: "icomoon" !important;
          font-size: 14px;
          line-height: 14px;
          @include lg {
            font-size: 20px;
            line-height: 20px;
          }
        }
      }
      &.valid ~ span,
      &.error ~ span {
        opacity: 1;
        transition: opacity 0.5s;
      }
      &.valid ~ span:after {
        color: #00ce64;
        content: "\e910";
      }
      &.error ~ span:after {
        color: #e60000;
        content: "\e90d";
      }
    }
  }
  input,
  .custom-dropdown select {
    height: 48px;
    padding: 16px 16px 0;
    transition: width 0.2s;
    text-align: left;
    @include lg {
      padding: 8px 16px;
      text-align: right;
    }
  }
  .custom-dropdown {
    margin-bottom: 18px;
    @include lg() {
      margin-bottom: 24px;
    }
    label {
      pointer-events: none;
      margin: 0;
      position: absolute;
      top: 15px;
      left: 16px;
      font-family: $font-roboto-regular;
      color: $mute-grey;
      transition: all 0.3s ease-in-out;
      @include font-size($xs-font);
      @include line-height($md-line-height);
      @include lg {
        @include font-size($sm-font);
        top: 14px;
      }
    }
    select::-ms-expand {
      display: none;
    }
    select {
      width: 100%;
      outline: none;
      color: transparent;
      position: unset;
      appearance: none;
      @include md{
        direction: rtl;
      }
      
      option {
        padding: 10px 0;
        font-family: $font-archive-bold;
        color: $primary;
        &:hover {
          background-color: $light-grey;
        }
        @include md{
          direction: ltr;
        }
      }
      @supports (-webkit-touch-callout: none) {
        text-indent: 8px;
      }
      &.error {
        border: 2px solid #e60000;
      }
      &.has-value {
        color: $primary;
        &.has-value {
          padding: 16px 16px 0;
          @include md() {
            padding: 8px 16px 8px;
          }
        }

        & ~ label {
          top: 8px;
          font-family: $font-roboto-light;
          font-size: 12px;
          line-height: 14px;
          color: $grey;
          transition: all 0.3s ease-in-out;
          @include lg {
            top: 19px;
          }
          @supports (-webkit-touch-callout: none) {
            top: 2px;
            @include lg() {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }

  .custom-checkbox {
    margin-bottom: 20px;
    > label {
      width: 100%;
      display: flex;
      align-items: center;
      input {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        padding: 0;
        position: relative;
        &:before {
          content: "";
          background: white;
          width: 16px;
          height: 16px;
          position: absolute;
          border: 1px solid $grey;
          font-family: "icomoon";
          left: 0;
        }
        &:checked {
          &:before {
            content: "\e910" !important;
            background: white;
            width: 16px;
            height: 16px;
            position: absolute;
            border: 1px solid $grey;
            font-size: 17px;
            text-indent: -2px;
            line-height: 15px;
            color: $secondary;
          }
        }
        &.error {
          &:before {
            border: 1px solid #e60000;
          }
        }
      }
    }
  }

  textarea {
    resize: none;
    height: 112px;
    padding: 16px;
    @include placeholder {
      color: $mute-grey;
    }
  }
  &__item {
    position: relative;
    margin-bottom: 16px;
    @include lg {
      margin-bottom: 24px;
    }
    label {
      pointer-events: none;
      margin: 0;
      position: absolute;
      top: 15px;
      left: 16px;
      font-family: $font-roboto-light;
      color: $mute-grey;
      transition: all 0.3s ease-in-out;
      @include font-size($xs-font);
      @include line-height($md-line-height);
      @include lg {
        @include font-size($sm-font);
        top: 14px;
      }
    }
    input {
      &:focus,
      &.has-value {
        padding: 16px 16px 0;
        @include md() {
          padding: 8px 16px 8px;
        }
      }
      &:focus ~ label,
      &.has-value ~ label {
        top: 8px;
        font-family: $font-roboto-light;
        font-size: 12px;
        line-height: 14px;
        color: $grey;
        transition: all 0.3s ease-in-out;
        @include lg {
          top: 19px;
        }
      }
    }
  }
}

.success-wrapper {
  max-width: 884px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  @include lg() {
    padding: 0;
  }
  button {
    -webkit-appearance: none;
    background: transparent !important;
    opacity: 1;
    outline: none !important;
    position: absolute;
    top: 30px;
    right: 20px;
    span {
      color: #e60000;
      font-size: 35px;
    }
  }
  i,
  .icon {
    color: $secondary;
    font-size: 90px;
  }
  h2 {
    color: $primary;
    margin-top: 16px;
    margin-bottom: 16px;
    @include line-height($xxl-line-height);
    @include font-size($xxl-font);
    @include md{
      margin-top: 40px;
    }
  }
  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.contact-form {
  width: 100%;
  padding:80px 15px 32px;
  @include xl() {
    padding: 0;
  }
  form {
    padding: 0;
    @include lg{
      padding:0 189px 80px;
    }
    .form-footer{
      margin-top: 32px;
      text-align: right;
      @include md{
        margin-top: 40px;
      }
    }
    .widget {
      max-width: 976px;
      width: 100%;
      margin: 0 auto;
      &__header {
        padding-bottom: 24px;
        @include lg{
          padding-bottom: 32px;
        }
        label{
          margin-bottom: 8px;
          @include md{
            margin-bottom: 32px;
          }
        }
        h2 {
          margin-bottom: 3px;
          @include lg() {
            margin-bottom: 15px;
          }
        }
      }
    }
    .form {
      max-width: 976px;
      width: 100%;
      margin: 0 auto;
      float: left;
      padding: 32px 16px;
      @include lg{
        padding:64px 189px 80px;
        float: none;
      }
    }
    &.form {
      width: 100%;
      max-width: 100%;
    }
  }
  .brochure-card {
    margin-top: 32px;
    @include md() {
      margin-top: 80px;
    }
  }
  .link-card {
    box-shadow: none;
    text-align: left;
    @include md{
      padding-bottom: 68px;
    }
    
    .link-card__wrap {
      padding: 0 0 32px;
      @include md() {
        padding: 0;
      }
    }
    .link-card__img-wrap {
      font-size: 40px;
      color: $secondary;
      @include lg() {
        font-size: 64px;
      }
      p {
        color: $secondary;
      }
    }
    .link-card__btn {
      position: relative;
      width: fit-content;
      cursor: pointer;
      @include md{
        position: absolute;
        bottom: 0;
      }
      &::after {
        content: "\E909";
        font-size: 20px;
        line-height: 20px;
        font-weight: 100;
        vertical-align: middle;
        transition: all 0.55s ease-in-out;
        font-family: icomoon !important;
        color: $secondary;
        margin-left: 14px;
      }
      .link {
        border: 0;
        background: transparent;
        outline: none;
      }
      &:hover {
        &::after {
          margin-left: 25px;
        }
      }
    }
    .link-card__descr {
      .link-card__title {
        line-height: 24px;
        font-size: 20px;
        margin: 24px 0 16px;
        @include md() {
          line-height: 32px;
          font-size: 24px;
          margin: 16px 0;
        }
      }
      .link-card__text {
        font-size: 16px;
        line-height: 24px;
        color: $grey;
      }
    }
    .link-card__btn {
      margin-top: 24px;
      @include md{
        margin-top:32px;
      }
    }
  }
  .success-wrapper {
    background-color: $white;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
    max-width: 1228px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 16px 0;
    @include md{
      padding: 80px 16px;
    }
    @include lg{
      padding: 80px 117px;
    }

    .icon{
      font-size: 120px;
      @include md{
        font-size: 99px;
      }
      
    }
    
    p {
      color: $primary;
    }
    h2 {
      @include font-size($xxl-font);
      @include line-height($xxl-line-height);
      margin: 16px 0;
      @include md{
        margin: 32px 0 16px;
      }
    }
  }
}
