
.form{
  border-radius: 4px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  padding: 32px 16px;
  @include lg{
    padding: 80px;
    max-width: 884px;
  }
  .field-validation-error{
    span{
      display: none !important;
    }
  }
  .custom-text{
    margin-bottom: 18px;
    @include lg(){
      margin-bottom: 24px;
    }
    h2{
      @include font-size($md-font);
      line-height: 32px;
      font-family: $font-archive-bold;
      margin-bottom: 8px;
      color:$primary;
      @include lg(){
        @include font-size($md-font);
        @include line-height($md-line-height);
        margin-bottom: 14px;
      }
    }
    p{
      font-family: $font-roboto-light;
      color:$mute-grey;
      @include font-size($paragraph-font);
      line-height: 24px;
      @include lg(){
        font-family: $font-roboto-regular;
        @include font-size($xs-font);
        @include line-height($md-line-height);
      }
    }
  }
  .custom-dropdown{
    position: relative;
  }
  .form-footer input.btn {
    height: auto;
    padding: 0;
    padding: 10px 30px;
    border-radius: 10px;
    background: $grey;
    font-size: 14px;
    color:$white;
    &.active{
      background: $secondary;
    }
  }
  input, textarea, .custom-dropdown select{
    border-radius: 4px;
    border: solid 1px #d9d8d9;
    background-color: $mute;
    color: $primary;
    font-family: $font-roboto-regular;
    @include font-size($xs-font);
    @include line-height($md-line-height);
    @include lg{
      @include font-size($sm-font);
    }

    

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
      }

      & [type=number] {
      -moz-appearance: textfield;
      }

    &:focus{
      box-shadow: none;
    }
    & ~ span{
      opacity: 0;
    }
    &.error{
      border: 2px solid #e60000;
    }
    &.has-value,
    &.error,.input-validation-error{
      width: calc(100% - 32px);
      transition: width .2s;
      @include lg{
        width: calc(100% - 48px);
      }
      & ~ span{
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;

        &:after{
          font-family: 'icomoon' !important;
          font-size: 14px;
          line-height: 14px;
          @include lg{
            font-size: 20px;
            line-height: 20px;
          }
        }
      }
      &.valid ~ span,
      &.error ~ span{
        opacity: 1;
        transition: opacity 0.5s;
      }
      &.valid ~ span:after{
        color: #00ce64;
        content: "\e910";
      }
      &.error ~ span:after{
        color: #e60000;
        content: '\e90d';
      }
    }
  }
  input, .custom-dropdown select{
    height: 52px;
    padding: 17px 16px;
    transition: width .2s;
    @include lg{
      height: 78px;
      padding: 27px 16px;
    }
  }
  .custom-dropdown{
    margin-bottom: 18px;
    @include lg(){
      margin-bottom: 24px;
    }
    label{
      pointer-events: none;
      margin: 0;
      position: absolute;
      top: 15px;
      left: 16px;
      font-family: $font-roboto-regular;
      color: $mute-grey;
      transition: all .3s ease-in-out;
      @include font-size($xs-font);
      @include line-height($md-line-height);
      @include lg{
        @include font-size($sm-font);
        top: 27px;
      }
    }
    select{
      width:100%;
      outline: none;
      color: transparent;
      position: unset;
      option{
        padding:10px 0;
        font-family: $font-archive-bold;
        color:$primary;
        &:hover{
          background-color: $light-grey;
        }
      }
      @supports (-webkit-touch-callout: none) {
        text-indent: 8px;
      }
      &.error{
        border: 2px solid #e60000;
      }
      &.has-value {
        padding:36px 12px 14px;
        color:$primary;
      
      & ~ label{
        top: 8px;
        font-family: $font-roboto-light;
        font-size: 12px;
        line-height: 14px;
        color: $grey;
        transition: all .3s ease-in-out;
        @include lg{
          top: 16px;
        }
        @supports (-webkit-touch-callout: none) {
          top:2px;
          @include lg(){
            margin-top: 10px;
          }
        }
      }
      }
    }
    }

    .custom-checkbox{
      margin-bottom: 20px;
      > label{
        width: 100%;
        display: flex;
        align-items: center;
        input{
          width:16px;
          height:16px;
          margin-right: 10px;
          padding:0;
          &:before{
            content: '';
            background: white;
            width: 16px;
            height: 16px;
            position: absolute;
            border: 1px solid $grey;
            font-family: 'icomoon';
          }
          &:checked{
            &:before{
              content: "\e910" !important;
              background: white;
              width: 16px;
              height: 16px;
              position: absolute;
              border: 1px solid $grey;
              font-size: 17px;
              text-indent: -2px;
              line-height: 15px;
              color: $secondary;
            }
          }
          &.error{
            &:before{
              border: 1px solid #e60000;
            }
          }
        }
      }
    }
  

  textarea{
    resize: none;
    height: 112px;
    padding: 16px;
    @include placeholder{
      color: $mute-grey;
    }
  }
  // form{
  //   div:last-of-type{
  //     margin-bottom: 0;
  //   }
  // }

  &__item{
    position: relative;
    margin-bottom: 16px;
    @include lg{
      margin-bottom: 24px;
    }
    label{
      pointer-events: none;
      margin: 0;
      position: absolute;
      top: 15px;
      left: 16px;
      font-family: $font-roboto-regular;
      color: $mute-grey;
      transition: all .3s ease-in-out;
      @include font-size($xs-font);
      @include line-height($md-line-height);
      @include lg{
        @include font-size($sm-font);
        top: 27px;
      }
    }
    input{
      &:focus,
      &.has-value{
        padding: 26px 16px 6px;
      }
      &:focus ~ label,
      &.has-value ~ label{
        top: 8px;
        font-family: $font-roboto-light;
        font-size: 12px;
        line-height: 14px;
        color: $grey;
        transition: all .3s ease-in-out;
        @include lg{
          top: 16px;
        }
      }
    }

  }
  // .g-recaptcha{
  //   max-width: 184px;
  //   max-height: 46px;
  //   transform:scale(0.6);
  //   -webkit-transform:scale(0.6);
  //   transform-origin:0 0;
  //   -webkit-transform-origin:0 0;
  //   @include md{
  //     max-width: 200px;
  //     max-height: 49px;
  //     transform:scale(0.66);
  //     -webkit-transform:scale(0.66);
  //   }
  // }
}

.success-wrapper{
  max-width: 884px;
  padding: 32px 16px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  @include lg(){
    padding: 80px;
  }
  button{
    -webkit-appearance: none;
    background: transparent !important;
    opacity: 1;
    outline: none !important;
    position: absolute;
    top: 30px;
    right: 20px;
    span{
      color: #e60000;
      font-size: 35px;
    }
  }
  i, .icon{
    color:$secondary;
    font-size: 120px;
  }
  h2{
    margin: 20px 0 15px;
    color:$primary;
  }
}

.contact-form{
  width: 100%;
  padding-top:80px;
  @include xl(){
    padding-top:0;
  }
  form{
    .widget{
      max-width: 884px;
      width: 100%;
      margin: 0 auto;
      &__header{
        padding-bottom:24px;
        h2{
          margin-bottom: 3px;
          @include lg(){
            margin-bottom: 15px;
          }
        }
      }
    }
    .form{
      max-width: 884px;
      width: 100%;
      margin: 0 auto;
      float: left;
      @include lg(){
        float: none;
      }
    }
  &.form{
    width: 100%;
    max-width: 100%;
  }
}
.brochure-card{
  @include lg(){
    margin-top: 70px;
  }
}
.link-card{
  box-shadow: none;
  text-align: left;
  .link-card__wrap{
    padding: 40px 8px;
  }
  .link-card__img-wrap{
      font-size: 40px;
      color:$secondary;
      @include lg(){
        font-size: 64px;
      }
      p{
        color:$secondary;
      }
  }
  .link-card__btn{
    position: relative;
    width: fit-content;
    cursor: pointer;
    &::after{
      content: "\E909";
      font-size: 20px;
      line-height: 20px;
      font-weight: 100;
      vertical-align: middle;
      transition: all .55s ease-in-out;
      font-family: icomoon!important;
      color:$secondary;
      margin-left: 14px;
    }
    .link{
      border: 0;
      background: transparent;
      outline: none;
    }
    &:hover{
      &::after{
        margin-left: 25px;
      }
    }
  }
  .link-card__descr{
    .link-card__title{
      line-height: 1.2;
      font-size: 20px;
      @include md(){
        line-height: 28px;
      font-size: 24px;
      }
    }
    .link-card__text{
      font-size: 14px;
      line-height: 24px;
      color:$grey;
      @include md(){
        font-size: 20px;
      line-height: 30px;
      }
    }
  }
  
}
  .success-wrapper{
    background-color: $white;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
    max-width: 1228px;
    width: 100%;
    margin: 0 auto;
    p{
      color:$primary;
    }
    h2{
      @include font-size($lg-font);
      line-height: 32px;
      @include lg(){
        @include font-size($xxxl-font);
      @include line-height($xxxl-line-height);
      }
    }
  }
}