
.form{
  border-radius: 4px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  padding: 32px 16px;
  @include lg{
    padding: 80px;
    max-width: 884px;
  }
  .custom-dropdown{
    position: relative;
  }
  input, textarea, .custom-dropdown select{
    border-radius: 4px;
    border: solid 1px #d9d8d9;
    background-color: $mute;
    color: $primary;
    font-family: $font-roboto-regular;
    @include font-size($xs-font);
    @include line-height($md-line-height);
    @include lg{
      @include font-size($sm-font);
    }

    [type=submit] {
      height: auto;
      padding: 0;
      padding: 10px 30px;
      border-radius: 10px;
      background: #7a7a7a;
      font-size: 14px;
    }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
      }

      & [type=number] {
      -moz-appearance: textfield;
      }

    &:focus{
      box-shadow: none;
    }
    & ~ span{
      opacity: 0;
    }
    &.error{
      border: 2px solid #e60000;
    }
    &.has-value,
    &.error{
      width: calc(100% - 32px);
      transition: width .2s;
      @include lg{
        width: calc(100% - 48px);
      }
      & ~ span{
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;

        &:after{
          font-family: 'icomoon' !important;
          font-size: 14px;
          line-height: 14px;
          @include lg{
            font-size: 20px;
            line-height: 20px;
          }
        }
      }
      &.valid ~ span,
      &.error ~ span{
        opacity: 1;
        transition: opacity 0.5s;
      }
      &.valid ~ span:after{
        color: #00ce64;
        content: "\e910";
      }
      &.error ~ span:after{
        color: #e60000;
        content: '\e90d';
      }
    }
  }
  input, .custom-dropdown select{
    height: 52px;
    padding: 17px 16px;
    transition: width .2s;
    @include lg{
      height: 78px;
      padding: 27px 16px;
    }
  }
  .custom-dropdown{
    margin-bottom: 18px;
    @include lg(){
      margin-bottom: 24px;
    }
    label{
      pointer-events: none;
      margin: 0;
      position: absolute;
      top: 15px;
      left: 16px;
      font-family: $font-roboto-regular;
      color: #a7a9ac;
      transition: all .3s ease-in-out;
      @include font-size($xs-font);
      @include line-height($md-line-height);
      @include lg{
        @include font-size($sm-font);
        top: 27px;
      }
    }
    select{
      width:100%;
      outline: none;
      color: transparent;
      option{
        padding:10px 0;
        font-family: $font-archive-bold;
        color:$primary;
        &:hover{
          background-color: $light-grey;
        }
      }
      &.error{
        border: 2px solid #e60000;
      }
      &.has-value {
        padding:36px 12px 14px;
        color:$primary;
      
      & ~ label{
        top: 8px;
        font-family: $font-roboto-light;
        font-size: 12px;
        line-height: 14px;
        color: $grey;
        transition: all .3s ease-in-out;
        @include lg{
          top: 16px;
        }
      }
      }
    }
    }

    .custom-checkbox{
      margin-bottom: 20px;
      > label{
        width: 100%;
        display: flex;
        align-items: center;
        input{
          width:16px;
          height:16px;
          margin-right: 10px;
          &:before{
            content: '';
            background: white;
            width: 16px;
            height: 16px;
            position: absolute;
            border: 1px solid #000;
          }
          &:checked{
            &:before{
              content: "\e910" !important;
              background: white;
              width: 16px;
              height: 16px;
              position: absolute;
              border: 1px solid #000;
              font-size: 17px;
              text-indent: -2px;
              line-height: 15px;
              color: red;
            }
          }
          &.error{
            &:before{
              border: 1px solid #e60000;
            }
          }
        }
      }
    }
  

  textarea{
    resize: none;
    height: 112px;
    padding: 16px;
    @include placeholder{
      color: #a7a9ac;
    }
  }
  // form{
  //   div:last-of-type{
  //     margin-bottom: 0;
  //   }
  // }

  &__item{
    position: relative;
    margin-bottom: 16px;
    @include lg{
      margin-bottom: 24px;
    }
    label{
      pointer-events: none;
      margin: 0;
      position: absolute;
      top: 15px;
      left: 16px;
      font-family: $font-roboto-regular;
      color: #a7a9ac;
      transition: all .3s ease-in-out;
      @include font-size($xs-font);
      @include line-height($md-line-height);
      @include lg{
        @include font-size($sm-font);
        top: 27px;
      }
    }
    input{
      &:focus,
      &.has-value{
        padding: 26px 16px 6px;
      }
      &:focus ~ label,
      &.has-value ~ label{
        top: 8px;
        font-family: $font-roboto-light;
        font-size: 12px;
        line-height: 14px;
        color: $grey;
        transition: all .3s ease-in-out;
        @include lg{
          top: 16px;
        }
      }
    }

  }
  // .g-recaptcha{
  //   max-width: 184px;
  //   max-height: 46px;
  //   transform:scale(0.6);
  //   -webkit-transform:scale(0.6);
  //   transform-origin:0 0;
  //   -webkit-transform-origin:0 0;
  //   @include md{
  //     max-width: 200px;
  //     max-height: 49px;
  //     transform:scale(0.66);
  //     -webkit-transform:scale(0.66);
  //   }
  // }
}

.success-wrapper{
  max-width: 884px;
  padding: 32px 16px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  display: none;
  @include lg(){
    padding: 80px;
  }
  button{
    -webkit-appearance: none;
    background: transparent !important;
    opacity: 1;
    outline: none !important;
    position: absolute;
    top: 30px;
    right: 20px;
    span{
      color: #e60000;
      font-size: 35px;
    }
  }
  i{
    color:$secondary;
    font-size: 120px;
  }
  h2{
    margin: 20px 0 15px;
    color:$primary;
  }
}