.plans-table{
  background: $white;
  border-radius: 4px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
  .plans-table__wrap{
    > div:first-of-type{
      background: $primary;
      height: 67px;
      padding-left: 16px;
      display: flex;
      align-items: center;
      &:before{
        content: none;
      }
      @include lg{
        padding-left: 32px;
        height: 72px;
      }
      p{
        margin-left: 0;
        color: $white;
        font-family: $font-roboto-medium;
        @include font-size($xs-font);
        @include lg{
          @include font-size($paragraph-font);
        }
      }
    }
    .icon-present{
    }
    div{
      display: flex;
      align-items: center;
      margin-bottom: 1px;
      height: 67px;
      box-shadow: 0 1px 0 0 #e0e4e8;
      padding-left: 18px;
      &:before{
        font-family: 'icomoon';
        content: "\e903";
        font-size: 25px;
        @include lg{
          font-size: 31px;
        }

      }
      @include lg{
        padding-left: 34px;
        height: 72px;
      }

      p{
        font-family: $font-roboto-medium;
        color: $primary;
        margin: 0 0 0 8px;
        @include lg(){
          margin: 0 0 0 16px;
        }
      }
    }
  }

  .swiper-container{
    padding-bottom: 40px;
    @include lg{
      overflow: visible;
      padding-bottom: 0;

      .swiper-pagination{
        display: none;
      }
    }
  }
  .swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    margin: 0 3px;
  }
  &__btns{
    margin-top: 24px;
    @include lg{
      margin-top: 40px;
    }
    .link{
      margin-left: 24px;
    }
  }
}

.plans-swiper{
  .plans-table__wrap{
    > div:first-of-type{
      padding-left: 0;
    }
    div{
      padding-left: 0;
      justify-content: center;
      &:before{
        content: none;
      }
      p{
        margin-left: 0;
        font-family: $font-roboto-regular;
        color: $grey;
      }
    }
  }
}