.introduction{
  &__image-wrap{
    height: 56.25vw;
    padding-top: calc(46px + 26vw);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: calc(354px - 25vw);
    @include md{
      height: 390px;
      padding-top: calc(80px + 4vw);
      margin-bottom: 60px;
    }
    @include lg{
      height: 476px;
      margin-bottom: 111px;
    }
    @include xl{
      margin-bottom: 123px;
    }
    @include xxl{
      margin-bottom: 105px;
      padding-top: 80px;
    }
    .container{
      height: 100%;
      position: relative;
    }
  }
  &__descr{
    padding: 24px 16px;
    margin: 0;
    border-radius: 4px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
    background-color: $white;
    @include sm{
      max-width: 400px;
    }
    @include lg{
      margin: 0 16px;
      max-width: 510px;
      padding: 40px;
      position: absolute;
      right: 0;
      bottom: -30px;
    }
    @include xl{
      max-width: 600px;
    }
    @include xxl{
      max-width: 724px;
    }
  }
  &__descr-left{
    @include sm{
      margin-right: auto;
      margin-left: 4%;
    }
  }
  &__descr-right{
    @include sm{
      margin-left: auto;
      margin-right: 4%;
    }
  }
  .section__subtitle{
    margin-bottom: 8px;
    @include lg{
      margin-bottom: 16px;
    }
  }
  .introduction__text{
    @include lg(){
      margin-bottom: 53px;
    }
    
  }
  &__title{
    margin-top: 8px;
    @include lg{
      margin-top: 15px;
    }
  }
  &__text{
    font-family: $font-roboto-regular;
    @include font-size($paragraph-font);
    @include line-height($paragraph-line-height);
    color: $grey;
    line-clamp: 5;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    // max-height: 5.6em;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin: 7px 0 28px;
    @include lg{
      // @include font-size($sm-font);
      // max-height: 7.5em;
      margin: 24px 0 40px;
    }
  }
}