mixin introduction(data)
    .col-12
        .introduction
            .introduction__content(data-relative-input="true")
                .introduction__image-wrap(data-parallax="scroll" data-image-src="${require(`./assets/images/introduction-bg-2x.jpg`)}"  parallax-wrapper data-speed="0.6")
                    .container
                        .introduction__descr(class= data.side)
                            .section__subtitle.text-uppercase.mb-2.mb-lg-3 Introduction
                            .section__title Abu Dhabi Ports Group
                            .introduction__text Abu Dhabi Ports is transforming Abu Dhabi’s maritime infrastructure, positioning the Emirate as a premier logistics, transport and trade hub through a diverse portfolio of services and activities. Through constant innovation, Abu Dhabi Port Group is going beyond being a port operator and developer, to be the preferred global trade enabler.
                            .introduction__btn
                                +anchor('btn-secondary' ,'Read More')