header.sticky-top
    nav.navbar.bg-light
        a.navbar-brand(href='#')
            img(src='${require(`./assets/images/logo.png`)}' width='30' height='30' alt='')
        .text-center
            p header is here 