header.white-bg
    .sub-nav.container
        ul
            each x in ['Careers', 'Contact us']
                li
                    a(href="#")= x
    nav.navbar#navbar
        .container
            a.navbar-brand(href='#')
                img(src='${require(`./assets/images/kizad-logo.svg`)}' alt='logo')
            .nav-list#header-nav(menu-wrapper)
                -var menuitem = ['overview', 'investor', 'cluster', 'business', 'free']
                ul
                    each index, x in ['Overview', 'Investor Benefits', 'Cluster', 'Business Facilities', 'Free Zone']
                        li(listItem-toggle)
                            a(href="#" data-id="#"+menuitem[x])= index
                                i.icon-arrow-down.d-block.d-lg-none
                include ../../widgets/sub-menu/sub-menu
            //- .search-container
            //-     .search-input
            //-         a.search-toggle
            //-             i.material-icons.search-icon search
            //-             i.material-icons.close-icon clear
            //-         form.global-search(action='', delimiter="?")
            //-             input(name="search")

            button.navbar-toggler.d-block.d-lg-none(type='button' data-toggle='collapse' data-target='#header-nav' menu-toggler)
                span.navbar-toggler-icon(aria-hidden='true')
                    - for (var x = 0; x < 6; x++)
                        span