.product-wrapper{
    &.reverse{
        direction: rtl;
        .product{
            &__wrap{
              direction: ltr;
                @include lg(){
                    padding-left:0;
                    padding-right:15px;
                }
            }
            &__image-wrap{
                @include lg(){
                    margin-left:15px;
                    margin-right:0;
                }
            }
        }
    }
    padding-bottom: 40px;
    margin-bottom:40px;
    border-bottom:1px solid $light-grey;
    &:last-child{
        padding-bottom: 0;
        margin-bottom:0;
        border-bottom:0;
    }
}
.product{
    &__wrap{
        @include lg(){
            padding-left:15px;
        }
        ul {
          padding-left: 26px;
          @include font-size($paragraph-font);
          @include line-height($paragraph-line-height);
          font-family: $font-roboto-light;
          color: $grey;
          direction: ltr;
          li {
              margin-bottom: 12px;
              @include lg() {
                  margin-bottom: 20px;
              }
              list-style: none;
              &:before {
                  content: "\2022";
                  color: $secondary;
                  font-weight: bold;
                  display: inline-block;
                  width: 1em;
                  margin-left: -1em;
                  font-size: 23px;
                  vertical-align: middle;
              }
          }
      }
      p{
        margin: 0 0 15px;
        color:$primary;
        @include lg{
          margin: 15px 0 20px;
        }
        @include xl{
          margin: 24px 0 24px;
        }


        &:empty{
          display: none;
        }
        &:last-of-type{
          &:not(:empty){
            margin-bottom: 27px;
            @include lg{
              margin-bottom:20px;
            }
            @include xl{
              margin-bottom:40px;
            }
          }
        }
      }
    }
    &__text{
      // word-break: break-word;
      // display: -webkit-box;
      // -webkit-line-clamp: 6;
      // -webkit-box-orient: vertical;
      // overflow-y: hidden;
      // text-overflow: ellipsis;
      margin: 0 0 27px;
      @include font-size($paragraph-font);
      @include line-height($paragraph-line-height);
      @include lg{
        margin: 15px 0 20px;
        // max-height: 9em;
        color: $primary;
      }
      @include xl{
        margin: 24px 0 40px;
      }
    }
    &__image-wrap{
        margin-bottom: 20px;
        @include lg(){
            margin-bottom: 0;
            margin-right: 15px;
        }
      img{
        object-fit: cover;
        height: 55.91vw;
        width: 100%;
        @include lg{
          min-height: 350px;
          height: auto;
        }
        @include xl{
          min-height: 432px;
          width: auto;
        }
      }
    }
    // > .row{
    //     @include lg(){
    //         align-items: center;
    //     }
    // }
  }