.product-wrapper{
  padding-bottom: 30px;
    margin-bottom:30px;
    border-bottom:1px solid #d8d8d8;
    &:last-child{
        padding-bottom: 0;
        margin-bottom:0;
        border-bottom:0;
    }
    &.reverse{
        direction: rtl;
        .product{
            &__wrap{
              direction: ltr;
                @include lg(){
                    padding-left:0;
                    padding-right:32px;
                }
            }
            &__image-wrap{
                @include lg(){
                    margin-left:32px;
                    margin-right:0;
                }
            }
        }
    }
}
.product{
    &__wrap{
      padding-top: 16px;
        @include lg(){
            padding-left:32px;
            padding-top: 32px;
        }
        ul {
          padding-left: 26px;
          // @include font-size($paragraph-font);
          // @include line-height($paragraph-line-height);
          font-family: $font-roboto-light;
          color: $grey;
          direction: ltr;
          li {
              margin-bottom: 12px;
              @include lg() {
                  margin-bottom: 20px;
              }
              // list-style: none;
              // &:before {
              //     content: "\2022";
              //     color: $secondary;
              //     font-weight: bold;
              //     display: inline-block;
              //     width: 1em;
              //     margin-left: -1em;
              //     font-size: 23px;
              //     vertical-align: middle;
              // }
          }
      }
      // .section__title{
      //   margin-bottom: 8px;
      //   @include lg{
      //     margin-bottom: 0;
      //   }
      // }
      // h2{
      //   margin-bottom: 8px;
      //     @include lg{
      //       margin-bottom: 0;
      //     }
      // }
      p{
        margin: 8px 0 0;
        color:$primary;
        @include lg{
          margin: 24px 0 0;
        }
        // &:last-of-type{
        //   margin-bottom: 24px;
        //   @include md{
        //     margin-bottom: 40px;
        //   }
        // }


        &:empty{
          display: none;
        }
      }
      .btn{
        margin-top: 32px;
        @include lg{
          margin-top: 40px;
        }
      }
    }
    // &__text{
    //   margin: 0 0 27px;
    //   @include lg{
    //     margin: 15px 0 20px;
    //     // max-height: 9em;
    //     color: $primary;
    //   }
    //   @include xl{
    //     margin: 24px 0 40px;
    //   }
    // }
    &__image-wrap{
        margin-bottom: 16px;
        @include lg(){
            margin-bottom: 0;
            margin-right: 32px;
        }
      img{
        object-fit: cover;
        height: 55.91vw;
        width: 100%;
        @include lg{
          min-height: 350px;
          height: auto;
        }
        @include xl{
          min-height: 432px;
          width: auto;
        }
      }
    }
    // > .row{
    //     @include lg(){
    //         align-items: center;
    //     }
    // }
  }