block variables

.row.widget-strategic-accordion
    .col-12.px-0.d-lg-none
        .accordion(strategic-accordion-wrapper)

            each item in [0,1,2,3]
                block accordion

    each item in [0,1,2,3]
        block dt-items


