include ../../tiles/button/button
include ../../tiles/link/link
.contact
    h6 Business With Kizad
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet at lectus eu euismod.
    img(src='${require(`./assets/images/contact.png`)}', alt='contact-us')
    +button('button', 'btn-white' ,' Enquire now ')