.contact{
    color:$white;
    padding:30px;
    float: left;
    width:100%;
    h6{
        @include font-size($xxs-font);
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    p{
        @include font-size($sm-font);
        margin-bottom: 30px;
        width:100%;
    }
    img{
        width:auto;
        margin-bottom:30px;
        max-height: 150px;
        float: left;
    }
    .btn{
        float: left;
        clear: both;
    }
}