.contact{
    color:$white;
    padding:30px 15px;
    float: left;
    width:100%;
    @include lg(){
        padding:30px;
    }
    h6{
        @include font-size($xxs-font);
        text-transform: uppercase;
        margin-bottom: 15px;
        letter-spacing: 1.5px;
        @include md(){
            letter-spacing: .5px;
            margin-bottom: 30px;
        }
    }
    p{
        @include font-size($sm-font);
        margin-bottom: 30px;
        width:100%;
    }
    img{
        width:auto;
        margin-bottom:30px;
        max-height: 150px;
        float: left;
    }
    .btn{
        float: left;
        clear: both;
    }
}