{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "ie": "11"
                },
                "useBuiltIns": "entry"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-async-to-generator",
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-transform-classes"
    ]
}