.info-card-container{
  margin-bottom: -24px;
  width:100%;
  @include lg{
    margin-bottom: -36px;
  }
  @include custom-width(0px, 991px) {
    margin-left:0;
    margin-right:0;
    .info-card{
      padding:0;
    }
  }
}

.info-card__descr{
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    align-self: auto !important;
  }
}

.info-card{
  margin-bottom: 24px;
  @include lg{
    margin-bottom: 36px;
  }
  &__wrap{
    border-radius: 4px;
    background-color: #fff;
    @include lg{
      margin: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
  &_inner{
    height: 100%;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
  }
  &__img-wrap{
    img{
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      object-fit: cover;
      width: 100%;
      height: calc((100vw - 30px) * 0.561);
      @include lg{
        height: calc((50vw - 30px) * 0.561);
        max-height: 405px;
      }
    }
  }

  &__descr{
    height: 100% ;
    @include lg{
      align-self: flex-start;
      justify-content: space-between;
      
    }
    &-wrap{
      padding: 16px 16px 24px;
      height: 100%;
      display: flex;
      flex-direction: column;

      @include lg{
        padding: 40px 36px 40px 40px;
      }
      h2{
        margin-bottom: 8px;
        @include lg(){
          margin-bottom: 24px;
        }
      }
    }
  }
  &__text{
    flex: 1 0 auto;
    font-weight: 300;
    color: $grey;
    overflow-y: hidden;
    text-overflow: ellipsis;
    @include font-size($paragraph-font);
    @include line-height($paragraph-line-height);
    @include lg{
      // @include font-size($sm-font);
    }
  }
  &__btn{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: inset 0 1px 0 0 #e8e8e8;
    padding: 16px 0;
  }
  &__link{
    font-weight: 500;
    letter-spacing: 0.88px;
    color: $secondary;
    font-family: $font-roboto-bold;
    @include font-size($xxs-font);
    @include line-height($sm-line-height);
    @include lg{
      @include font-size($xs-font);
      letter-spacing: 1px;
    }
  }
  &__without-btn{
    .info-card__btn{
      display: none;
    }
    .info-card__text {
      // max-height: 7.5em;
    }
  }
  .show-hide-text{
    margin-top: 6px;
    text-decoration: none;
  }
  .show-hide-text.collapsed::after {
    content: 'Read More';
  }
  .show-hide-text:not(.collapsed)::after {
    content: 'Show Less';
  }
}