@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?63xve9');
  src:  url('fonts/icomoon.eot?63xve9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?63xve9') format('truetype'),
    url('fonts/icomoon.woff?63xve9') format('woff'),
    url('fonts/icomoon.svg?63xve9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e90d";
}
.icon-play:before {
  content: "\e90c";
  color: #fff;
}
.icon-zoon-in:before {
  content: "\e90b";
}
.icon-arrow-down:before {
  content: "\e90a";
}
.icon-arrow-left:before {
  content: "\e908";
}
.icon-arrow-right:before {
  content: "\e909";
}
.icon-sent:before {
  content: "\e907";
  color: #ec1a46;
}
.icon-community:before {
  content: "\e905";
  color: #e10e49;
}
.icon-cost:before {
  content: "\e906";
  color: #e10e49;
}
.icon-people:before {
  content: "\e904";
  color: #fff;
}
.icon-present:before {
  content: "\e903";
}
.icon-calendar:before {
  content: "\e902";
  color: #fff;
}
.icon-scale:before {
  content: "\e901";
  color: #e10e49;
}
.icon-icon:before {
  content: "\e900";
  color: #e10e49;
}
.icon-location:before {
  content: "\e947";
}
