.partner-slider{
  &__content {
    padding: 20px 0;
    box-shadow: 0 1px 0 0 rgba(211, 211, 211, 0.5), 0 -1px 0 0 rgba(211, 211, 211, 0.5);
    @include lg{
      padding: 32px 0 0;
      box-shadow: 0 -1px 0 0 rgba(211, 211, 211, 0.5);
    }
    .partner-slider__slider {
      display: flex;
      position: relative;
      flex-direction: column;
      .swiper-wrapper{
        align-items: center;
      }
    }
    .swiper-button-prev,
    .swiper-button-next{
      // top: calc(50% - 32px);
      @include lg{
        display: flex;
        // top: calc(50% - 30px);
        // transform: translate(0, -50%);
      }
      &.swiper-button-disabled{
        @include custom-width(0px, 991px) {
          display: none !important;
        }
      }
    }
    .btn-swiper{
      // width: 64px;
      // height: 64px;
      em{
        color: $white;
      }
    }
  }
  &__subtitle{
    @include lg{
      display: none;
    }
  }
  // &__slider{
  //   padding:0 90px;
  // }
//   .swiper-button-next{
//     @include lg(){
//         right: 45px;
//     }
//     @media(min-width:1500px){
//       right: 0;
//   }
// }
  .swiper-container {
    padding: 0 30px 0 10px;
    width:100%;
    @include lg{
      padding:0;
      margin:0 90px;
      width:calc(100% - 180px);
    }
    // @include xl(){
    //   width:calc(100% - 180px);
    // }

    
    .swiper-wrapper{
      // margin:0 90px;
      // width:calc(100% - 180px);
    }
    .swiper-slide {
      // margin: 0 16px;
      width: auto;
      // @include lg{
      //   margin: 0 19px;
      // }
      &:last-of-type{
        margin-right: 20px !important;
      }
      .partner-slider__card {
        height: 100%;
        background: $white;
        &-header {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 130px;
          @include md{
            max-width: 190px;
          }
          // @include lg {
          //   max-width: 245px;
          // }
          img {
            max-height: 48px;
            @include md{
              max-height: 70px;
            }
            @include lg {
              max-height: 100px;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

[dir=rtl] .partner-slider .swiper-button-wrapper .swiper-button-next{
right:auto;
}