.widget {
    width:100%;
    .widget__header {
      padding-bottom:24px;
      @include lg(){
        padding-bottom:32px;
      }
      &.header-large{
        @include lg(){
          margin-bottom:8px;
        }
      }
      .label {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $lighter-grey;
        font-family: $font-roboto-medium;
        margin-bottom: 8px;
        @include lg(){
          margin-bottom: 16px;
        }
      }
      .heading {
        @include font-size($lg-font);
        color: $primary;
        text-transform: uppercase;
        margin-bottom: 0;
        @include lg() {
          @include font-size($xxxl-font);
        }
      }
      p {
        color:$primary;
        &:last-of-type {
          margin-bottom: 0;
        }
        &:first-of-type{
          margin-top: 8px;
        }
        &.dt-primary{
          @include lg(){
            color: $primary;
          }
        }
      }
    }
  }