.social-media{
    padding:20px 30px;
    float: left;
    @include xl(){
        padding: 21px 30px 27px; 
    }
    h6{
        color:$white;
        padding: 0 15px 10px;
    }
    ul{
        display: flex;
        li{
            padding:0 !important;
            width:36px;
            height:36px;
            background-color: $white;
            border-radius: 30px;
            align-items: center;
            display: flex;
            margin-right: 15px !important;
            a{
                font-size: 30px;
                margin: 0 auto;
                @include xl(){
                    font-size: 22px;
                }
                &:after{
                    display: none;
                }
            }
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}