.social-media
    ul
        li
            a(href='#')
                i.fa.fa-instagram
        li
            a(href='#')
                i.fa.fa-linkedin
        li
            a(href='#')
                i.fa.fa-youtube
        li
            a(href='#')
                i.fa.fa-facebook-f
        li
            a(href='#')
                i.fa.fa-twitter