.social-media
    h6.d-block.d-lg-none.title Social Link
    ul
        li
            a(href='#')
                i.fa.fa-instagram
        li
            a(href='#')
                i.fa.fa-linkedin
        li
            a(href='#')
                i.fa.fa-youtube
        li
            a(href='#')
                i.fa.fa-facebook-f
        li
            a(href='#')
                i.fa.fa-twitter