.social-media{
    padding:20px 45px;
    float: left;
    ul{
        li{
            padding:0 !important;
            width:50px;
            height:50px;
            background-color: $white;
            border-radius: 30px;
            align-items: center;
            display: flex;
            margin-right: 15px !important;
            a{
                font-size: 30px;
                margin: 0 auto;
                &:after{
                    display: none;
                }
            }
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}