.language{
    display: block;
    align-items: center;
    color:$white;
    padding: 20px 15px; 
    float: left;
    @include lg(){
        display: flex;
        float: right;
    }
    @include xl(){
        padding: 20px 30px; 
    }
    h6{
        margin-right: 20px;
        margin-bottom: 0;
        padding: 0 15px 10px;
        @include lg(){
            padding: 0;
        }
    }
    ul{
        li{
            padding:0 !important;
            margin-right: 16px !important;
            &:last-child{
                margin-right: 0px !important;
            }
            a{
                &:after{
                    display: none;
                }
            }
        }
    }
}