.widget-article {
    // margin-bottom: 40px;
    padding: 0 15px;
    // @include lg() {
    //     margin-bottom: 80px;
    // }
    @include xl() {
        padding: 0;
    }
    h2 {
        color: $primary;
        @include font-size($lg-font);
        text-transform: uppercase;
        @include line-height($lg-line-height);
        margin-top: 40px;
        @include md() {
            @include font-size($xxxl-font);
            @include line-height($xxl-line-height);
        }
        @include lg() {
            @include font-size($xxxl-font);
            margin-bottom: 20px;
            @include line-height($xxxl-line-height);
            margin-top: 80px;
        }
        &:first-of-type{
            margin-top:0;
        }
    }
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        color: $anchor;
    }
    &:last-child {
        margin-bottom: 0;
    }
    ul {
        display: flex;
        list-style-type: none;
        li {
            color: $secondary;
            &:first-child {
                &:before {
                    display: none;
                }
            }
            &::before {
                content: "\A";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: $secondary;
                display: inline-block;
                margin: 2px 10px;
            }
        }
    }
}
