.widget-article {
     margin-bottom: 40px;
    padding: 0 15px;
    @include lg() {
        margin-bottom: 60px;
    }
    @include xl() {
        padding: 0;
    }
    &:last-of-type{
        margin-bottom: 0;
    }
    h2 {
        color: $primary;
        @include font-size($lg-font);
        text-transform: uppercase;
        @include line-height($lg-line-height);
        margin-top: 40px;
        @include md() {
            @include font-size($xxxl-font);
            @include line-height($xxl-line-height);
        }
        @include lg() {
            @include font-size($xxxl-font);
            margin-bottom: 20px;
            @include line-height($xxxl-line-height);
            margin-top: 80px;
        }
        &:first-of-type{
            margin-top:0;
        }
    }
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        color: $anchor;
    }
    &:last-child {
        margin-bottom: 0;
    }
    ul {
        padding-left:22px;
        margin-bottom:30px;
        li{
            list-style-type: none;
            position: relative;
            // font-family: $font-roboto-light;
            @include font-size($paragraph-font);
            @include line-height($paragraph-line-height);
            margin-top: 16px;
            @include lg(){
                margin-top: 24px;
            }
            &:first-child{
                margin-top: 0;
            }
            &:before{
              position: absolute;
              display: block;
              left: -22px;
              top: 12px;
              content: '';
              width: 5px;
              height: 5px;
              border-radius: 50%;
              color: $secondary;
              background: $secondary;
            }
          }
    }
}
