.widget-article

    ul
        li The Roadbot Tire Project is latest milestone of the 50-year agreement between Abu Dhabi Ports and JOCIC; strengthening Abu Dhabi’s connection to China’s Belt and Road trade initiative
        li Annual production capacity for Roadbot Tire Project KIZAD will reach 10 million Passenger Radial tires and 1 million Truck and Bus Radial tires by 2022
        li The scale of production will be one of the highest in the world for PCR and TBR tires at a single location
        li The factory at KIZAD will further spur growth in the downstream industry in Abu Dhabi and connect the UAE to regional and international automotive markets.
    

    h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p To get in touch, please use the CONTACT US section on our website.
    p These TERMS are to be read in conjunction with KIZAD’s 
        a(href="#") PRIVACY POLICY.


    h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p To get in touch, please use the CONTACT US section on our website.
    p These TERMS are to be read in conjunction with KIZAD’s 
        a(href="#") PRIVACY POLICY.


    h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p To get in touch, please use the CONTACT US section on our website.
    p These TERMS are to be read in conjunction with KIZAD’s 
        a(href="#") PRIVACY POLICY.