.benefits-wrapper{
    margin: 0 -15px;
    width: auto;
    @include lg{
        margin: 0;
    }
    
    .benefit-swiper{
        padding-bottom: 60px;
        .btn-swiper{
            top:calc(50% - 50px);
            @include md{
                top:calc(44% - 50px);
            }
        }
        // .swiper-button-wrapper{
        //     display: none;
        //     @include lg(){
        //         display: block;
        //     }
        // }
        // .swiper-button-next{
        //     @include xl(){
        //         right: 60px;
        //     }
            
        // }
        // .swiper-button-next{
        //    @media(min-width:1600px){
        //         right: 0;
        //     }
        // }
    }
    
    .swiper-slide{
        height: auto;
        padding: 0 15px;
        @include lg{
            padding: 0;
        }
        &.swiper-slide-prev{
            opacity: .4;
            
        }
        &.swiper-slide-active{

        }
        &.swiper-slide-next{
            opacity: .4;
        }
        .text{
            text-align: left;
            display: block;
            padding:26px 40px;
            height: 100%;
            box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
            
            @include md{
                display: flex; 
                padding:32px 40px;
            }
            .icon{
                width:32px;
                color:$secondary;
                float: left;
                margin-right: 8px;
                margin-bottom: 16px;
                @include md(){
                    width:48px;
                    float: none;
                    margin-right: 0;
                }
                @include xl(){
                    width:64px;
                }
            }
            .content{
                
                padding-left:8px;
                color:$grey;
                @include md(){
                    padding-left:20px;
                    width:calc(100% - 65px);
                }
                @include xl(){
                    padding-left:32px;
                }
                h3{
                    color:$primary;
                    font-family: $font-archive-bold;
                    @include font-size($md-font);
                    @include line-height($paragraph-line-height);
                    margin-bottom: 16px;
                    margin-top: 5px;
                    @include lg(){
                        @include line-height($md-line-height);
                        margin-top: 0px;
                    }
                }
                p{
                    clear: both;
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

}