.benefits-wrapper{
    .benefit-swiper{
        padding-bottom: 70px;
        .btn-swiper{
            width:64px;
            height:64px;
            top:calc(44% - 50px)
        }
        .swiper-button-wrapper{
            display: none;
            @include lg(){
                display: block;
            }
        }
        // .swiper-button-next{
        //     @include xl(){
        //         right: 0;
        //     }
            
        // }
        // .swiper-button-prev{
        //     @include xl(){
                
        //     }
        // }
    }
    
    .swiper-slide{
        height: auto;
        &.swiper-slide-prev{
            opacity: .4;
            
        }
        &.swiper-slide-active{

        }
        &.swiper-slide-next{
            opacity: .4;
        }
        .text{
            text-align: left;
            display: flex;
            padding:41px 32px;
            height: 100%;
            box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
            .icon{
                width:65px;
                font-size: 55px;
                color:$secondary;
            }
            .content{
                width:calc(100% - 65px);
                padding-left:20px;
                color:$grey;
                h3{
                    color:$primary;
                    font-family: $font-roboto-regular;
                    @include lg(){
                        @include font-size($md-font);
                        @include line-height($md-line-height);
                        margin-bottom: 16px;
                    }
                }
                p{
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

}