
.widget.benefits-wrapper.text-center
    .widget__header
        label.label Benefits
        h2.heading What our ecosystem offers
    .widget__content
        .swiper-container.benefit-swiper
            .swiper-wrapper
                each item in [0,1,2,3,4,5,6]
                    .swiper-slide
                        .container
                            a.text(href="#")
                                .icon
                                    img(src="${require(`./assets/images/benefits-icon.svg`)}", alt="icon")
                                .content 
                                    h3 Scale
                                    p Wide range of business facilities and future-ready development enable investors to increase their scale of operations in phases - from very small startups to mega projects.
            include ../../tiles/swiper-buttons/swiper-buttons
            .swiper-pagination