extends ../accordion-strategic-benefits/accordion-strategic-benefits

block variables
    -var loctationT = ['Masterplan', 'Khalifa port', 'Free zone','Sustainability']

block accordion
    .accordion-strategic-benefits.accordion-benefits(class="strategic-acc-item-" + (item + 1))
        a
            div
                h2= '#' +(item + 1)
                h2=  loctationT[item]
            i.icon-arrow-down
        div
            p A state-of-the art industrial and logistics hub, KIZAD can accommodate industries of any scale due to the meticulous master plan of the industrial park. Because KIZAD comprises multiple industrial clusters, we allocate land by grouping certain industries and service providers based on how best they can benefit one another.
            p Value is created by leveraging anchor tenants and facilitating synergies and operational efficiencies; investors can utilise products produced by another within the zone.

block dt-items
    .col-6.p-0.d-none.d-lg-block
        .dt-strategic-benefits.benefits-dt-item(class="benefits-dt-item-" + (item + 1))
            .benefits-dt-content-wrap
                div
                    h2= '#' + (item + 1)
                    h2=  loctationT[item]
                    ul
                        li A state-of-the art industrial and logistics hub
                        li A state-of-the art
                        li A state-of-the art industrial and logistics hub,
                    p A state-of-the art industrial and logistics hub, KIZAD can accommodate industries of any scale due to the meticulous master plan of the industrial park. Because KIZAD comprises multiple industrial clusters, we allocate land by grouping certain industries and service providers based on how best they can benefit one another.
                    p Value is created by leveraging anchor tenants and facilitating synergies and operational efficiencies; investors can utilise products produced by another within the zone.
