.talk-card{
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
  &__mb{
    margin-bottom: 24px;
    &:last-child{
      margin-bottom: 0;
    }
    @include lg{
      margin-bottom: 0;
    }
  }
  &__wrap{
    position: relative;
    border-radius: 4px;
    padding: 90px 16px 24px;
    @include lg{
      padding: 128px 40px 40px;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    i{
      font-size: 55px;
      color: $secondary;
    }
  }
  &__img-wrap{
    position: absolute;
    top: 24px;
    height: 40px;
    @include lg{
      top: 40px;
      height: 64px;
    }
  }
  &__text{
    
    flex: 1 1 auto;
    letter-spacing: -0.3px;
    margin-bottom: 24px;
    @include lg{
      margin-bottom: 40px;
    }
  }
  .btn{
    width: 100%;
    @include sm{
      width: auto;
    }
  }
}

.card-secondary{
  background-color: $secondary;
  .talk-card{
    &__title{
      color: $white;
    }
    &__text{
      color: $white;
    }
    &__btn{
      .btn{
        color: $white;
      }
    }
  }
  .btn{
    border: 2px solid #fff;
  }
}

.card-white{
  background-color: #fff;
  .talk-card{
    &__title{
      color: $black;
    }
    &__text{
      color: $black;
    }
  }
  .btn{
    border: 2px solid $black;
    color: $black;
  }
}
