.talk-card{
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
  &__mb{
    margin-bottom: 24px;
    &:last-child{
      margin-bottom: 0;
    }
    @include lg{
      margin-bottom: 0;
    }
  }
  &__wrap{
    border-radius: 4px;
    padding: 32px 16px;
    @include lg(){
      padding: 40px;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    
    i{
      font-size: 55px;
      color: $secondary;
    }
  }
  &__img-wrap{
    height: 40px;
    margin-bottom: 24px;
    @include lg{
      height: 64px;
    }
  }
  &__title{
    margin-bottom: 8px;
    @include lg(){
      margin-bottom: 32px;
    }
  }
  &__text{
    flex: 1 1 auto;
    margin-bottom: 24px;
    color:$mute-grey;
    @include lg{
      margin-bottom: 32px;
    }
  }
  .btn{
    width: 100%;
    @include sm{
      width: auto;
    }
  }
}

.card-secondary{
  background-color: $secondary;
  .talk-card{
    &__title{
      color: $white;
    }
    &__text{
      color: $white;
    }
    &__btn{
      .btn{
        color: $white;
      }
    }
  }
  .btn{
    border: 2px solid $white;
  }
}

.card-white{
  background-color: $white;
  .talk-card{
    &__title{
      color: $primary;
    }
    &__text{
      color:$mute-grey;
    }
  }
  .btn{
    border: 2px solid $black;
    color: $black;
  }
  .btn.btn-secondary{
    border: none;
  }
}
