mixin talk-card(data)
    .col-12.col-lg-6.talk-card__mb
        .talk-card.h-100
            .talk-card__wrap(class= 'card-' +data.color)
                .talk-card__img-wrap
                    img(src= data.image).h-100
                .talk-card__descr.flex-column.h-100
                    h2.talk-card__title.section__title.mb-2.mb-lg-4= data.title
                    p.talk-card__text= data.text
                .talk-card__btn
                    +anchor('' ,'  ' +data.btnText)