.talk-card{
  @include lg{
    padding: 0 15px;
  }
  &__wrap{
    position: relative;
    border-radius: 4px;
    padding: 72px 16px 24px;
    margin: 12px 0;
    @include lg{
      padding: 128px 40px 40px;
      margin: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
  &__img-wrap{
    position: absolute;
    top: 24px;
    height: 40px;
    @include lg{
      top: 40px;
      height: 64px;
    }
  }
  &__text{
    font-family: $font-roboto-light;
    @include line-height($paragraph-line-height);
    @include font-size($paragraph-font);
    flex: 1 1 auto;
    letter-spacing: -0.3px;
    margin-bottom: 24px;
    @include lg{
      margin-bottom: 40px;
    }
  }
  .btn{
    width: 100%;
    @include sm{
      width: auto;
    }
  }
}

.card-secondary{
  background-color: $secondary;
  .talk-card{
    &__title{
      color: $white;
    }
    &__text{
      color: $white;
    }
    &__btn{
      .btn{
        color: $white;
      }
    }
  }
  .btn{
    border: 2px solid #fff;
  }
}

.card-white{
  background-color: #fff;
  .talk-card{
    &__title{
      color: $black;
    }
    &__text{
      color: $black;
    }
  }
  .btn{
    border: 2px solid $black;
    color: $black;
  }
}
