.video-wrapper
    video.w-100(src='src/assets/video/carousel1.mp4', preload="auto" autoplay controls disablePictureInPicture controlsList="nodownload")
    //- i.icon-play

    //- iframe(src="https://www.youtube.com/embed/lYNCyEFXasA", frameborder="0")