.video-wrapper
    video.w-100(src='src/assets/video/carousel1.mp4', preload="auto" video-wrapper)
    i.material-icons play_circle_outline

    //- iframe(src="https://www.youtube.com/embed/lYNCyEFXasA", frameborder="0")