.learn-more.widget
    //- .learn-more__header
    //-     .container
    //-         .row
    //-             .col-12
    //-                 .section__subtitle.text-uppercase updates
    //-                 h2.section__title.text-uppercase.mb-0 Learn more about kizad
    //-     .row.learn-more__content.placeholder--bg-grey
    .widget__header.container
        label.label Updates
        h2.heading Learn more about kizad
    .container
        .row.learn-more__content
            .col-12.col-lg-6.col-xl-7
                .learn-more__bg.w-100(style="background-image: url( '${require(`./assets/images/learn-more/learn-more-img-2-2x.jpg`)} ' )")
                    .learn-more__card.card-learn-more
                        .card-learn-more__subtitle.text-uppercase.text-center Sustainability
                        .card-learn-more__content.d-flex.flex-column.align-items-start
                            .card-learn-more__title.mb-md-4 Enabling a sustainable economy…
                            .card-learn-more__text.d-none.d-md-block
                                p Our goal is to establish economies that are economically viable, environmentally sound and socially responsible.
                            +anchor('btn d-none d-md-inline-block' ,'Read More')

            .col-12.col-lg-6.col-xl-5
                .learn-more__bg.w-100(style="background-image: url( '${require(`./assets/images/learn-more/learn-more-img-1-2x.jpg`)} ' )")
                    .learn-more__card.card-learn-more
                        .card-learn-more__subtitle.text-uppercase.text-center Brochure
                        .card-learn-more__content.d-flex.flex-column.align-items-start
                            .card-learn-more__title.mb-md-4 Download KIZAD brochure
                            .card-learn-more__text.d-none.d-md-block
                                p For a comprehensive overview of everything that KIZAD offers from competitive business setup solutions and world-class infrastructure facilities in the UAE download our brochure.
                            +anchor('btn d-none d-md-inline-block' ,'Download')
