.learn-more.widget
    //- .learn-more__header
    //-     .container
    //-         .row
    //-             .col-12
    //-                 .section__subtitle.text-uppercase updates
    //-                 h2.section__title.text-uppercase.mb-0 Learn more about kizad
    //-     .row.learn-more__content.placeholder--bg-grey
    .widget__header.container
        label.label Updates
        h2.heading Learn more about kizad
    .container
        .row.learn-more__content
            .col-12.col-lg-6.col-xl-7
                .learn-more__bg.w-100(style="background-image: url( '${require(`./assets/images/learn-more/learn-more-img-2-2x.jpg`)} ' )")
                    .learn-more__card.card-learn-more
                        .card-learn-more__subtitle.text-uppercase.text-center Sustainability
                        .card-learn-more__content.d-flex.flex-column.align-items-start
                            .card-learn-more__title
                                h3 Enabling a sustainable economy…
                            .card-learn-more__text.d-none.d-md-block
                                p Our goal is to establish economies that are economically viable, environmentally sound and socially responsible.
                            a.btn.btn-white.secondary-bordered(data-toggle="modal" data-target="#learnMore") Read More

            .col-12.col-lg-6.col-xl-5
                .learn-more__bg.w-100(style="background-image: url( '${require(`./assets/images/learn-more/learn-more-img-1-2x.jpg`)} ' )")
                    .learn-more__card.card-learn-more
                        .card-learn-more__subtitle.text-uppercase.text-center Brochure
                        .card-learn-more__content.d-flex.flex-column.align-items-start
                            .card-learn-more__title
                                h3 Download KIZAD brochure
                            .card-learn-more__text.d-none.d-md-block
                                p For a comprehensive overview of everything that KIZAD offers from competitive business setup solutions and world-class infrastructure facilities in the UAE download our brochure.
                            a.btn.btn-white.secondary-bordered(data-toggle="modal" data-target="#learnMore") Read More

    .modal.fade#learnMore(tabindex="-1", role="dialog", aria-labelledby= "learnMore", aria-hidden="true")
        .modal-dialog.modal-dialog-centered.mx-lg-auto(role="document")
            .modal-content
                .modal-header.flex-wrap
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true").icon-close
                    h2.heading.section__title.w-100.text-center.text-uppercase Thank you for your interest in KIZAD
                .modal-body
                    p.text-center.mx-lg-auto To download this brochure directly please complete the form below.
                    .form.mx-lg-auto
                        form(action="", novalidate, validation, recaptcha, data-toastr-message='Form Submitted Successfully !')
                            .form__item
                                input.form-control.support-input.text-input(data-msg="First Name" data-rule-maxlength="20" data-rule-minlength="2" data-rule-required="true" name="FirstName" placeholder="" type="text" value="" onkeyup="this.setAttribute('value',this.value);")
                                label First Name
                                span
                            .form__item
                                input.form-control.support-input.text-input(data-msg="Last Name" data-rule-maxlength="20" data-rule-minlength="2" data-rule-required="true" name="LastName" placeholder="" type="text" value="" onkeyup="this.setAttribute('value',this.value);")
                                label Last Name
                                span
                            .form__item
                                input.email-input.form-control.support-input.text-input(data-msg="Email" type='email' required  placeholder = '' name ='email' data-rule-minlength="2" data-validate-presence = 'true', value="" data-validate-email= 'true' onkeyup="this.setAttribute('value',this.value);")
                                label Email
                                span
                            .form__item
                                input.form-control.support-input.text-input(data-msg="Phone" data-rule-phone="true" data-rule-required="true" data-validate-presence="true" name="ContactNumber" placeholder="" type="tel" value="" aria-invalid="true" onkeyup="this.setAttribute('value',this.value);")
                                label Company Name
                                span

                            span.d-flex.align-items-center.justify-content-between.justify-content-sm-end.mt-4.form-footer
                                button.btn.ml-sm-2.ml-md-3(type='submit') Submit
