mixin innerBanner(data)
    .banner-inner
        img(src="${require(`./assets/images/home-banner.jpg`)}" alt='banner')
        .container
            .text.theme-black
                h1= data.title
                p= data.content
