.banner-inner{
    min-height:320px;
    position: relative;
    padding:30px 15px;
    margin-top: 80px;
    @include custom-width(0px, 991px) {
        padding:0;
    }
    @include md(){
        margin-top:95px;
        height:510px;
    }
    @include xl(){
        
        padding:0;
        margin-top: 0;
    }

    iframe,
    img {
        width: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 0;
        height: 100%;
        left:0;
        @include md() {
            bottom: 50%;
            transform: translateY(50%);
        }
    }

    .text{
        position: relative;
        // background-color: rgba($white,0.9);
        background-color: $white;
        opacity: .9;
        width:100%;
        max-width:610px;
        padding:24px;
        // @include shadow(0 3px 5px rgba(57, 63, 72, 0.3));
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
        color:$primary;
        border-radius: 4px;
        top: 50%;
        transform: translateY(-50%);
        @include md{
            left:50%;
            transform: translate(-50%, -50%);
            position: absolute;
            padding:24px 40px;
        }
        @include lg {
            left:auto;
            transform: translate(0%, -50%);
        }
        
        &.theme-black{
            // background-color: rgba(black,0.9);
            color:$white;
            background-color: $primary;
            opacity: .8;
        }
        h1{
            @include font-size($xxxl-font);
            @include line-height($xxxl-line-height);
            margin-bottom: 24px;
            position: relative;
            @include md(){
                margin-bottom: 32px;
            }
           
            &:after{
                content: '';
                position: absolute;
                bottom:-16px;  
                left:0;
                background-color: $secondary;
                height:4px;
                width:180px;
            }
            
        }
        p{
            @include font-size($sm-font);
            @include line-height($lg-line-height);
            font-family: $font-roboto-light;
                @include md() {
                    font-family: $font-roboto-regular;
                }
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    > .container{
        @include lg{
            padding-left:100px;
            padding-right:100px;
        }
        @include custom-width(0px, 991px) {
            position: absolute;
            width: 100%;
            padding: 0 15px;
            height: 100%;
        }
    }
}

.inner-banner-image{
    background-size: cover;
    background-repeat: no-repeat;
}