.placeholder{
    padding-top:40px;
    padding-bottom:40px;
    &--bg-brand{
        background-color: $secondary;
    }
    &--bg-mute{
        background-color: $mute;
    }
    &--bg-light-grey{
        background-color: $light-grey;
    }
    &--bg-grey{
        background-color: $grey-bg;
    }
    &--bg-primary{
        background-color: $primary;
    }
    &--no-padding{
        padding-top:0px;
        padding-bottom:0px;
    }
}