.placeholder{
    padding-top:40px;
    padding-bottom:40px;
    @include lg{
        padding-top:0px;
        padding-bottom:80px;
    }
    &--bg-brand{
        background-color: $secondary;
    }
    &--bg-mute{
        background-color: $mute;
    }
    &--bg-light-grey{
        background-color: $light-grey;
    }
    &--bg-grey{
        background-color: $grey-bg;
        + .placeholder--bg-grey{
            padding-top:0;
        }
        + .placeholder{
            &:not(.placeholder--bg-grey){
                padding-top:40px;
                @include lg{
                    padding-top:80px;
                }
            }
        }
    }
    &--bg-primary{
        background-color: $primary;
    }
    &--no-padding{
        padding-top:0px;
        padding-bottom:0px;
    }
    
}