extends ./../info-card/info-card
block variables
    -var infoImage = ['${require(`./assets/images/info-card-img-2-2x.jpg`)}', '${require(`./assets/images/info-card-img-1-2x.jpg`)}']
    -var infoTitle = ['Business facilities', 'Free zone']
    -var infoText = ['KIZAD offers both Free Zone and Domestic Economic Zone facilities for investors, who can choose their facilities based on their business strategy and requirements. Whether you are a small start-up or an established large-scale business, KIZAD can offer customised business facilities spread across its Free Zone and Domestic Tariff Areas.', 'KIZAD offers both Free Zone and Domestic Economic Zone facilities for investors, who can choose their facilities based on their business strategy and requirements. Whether you are a small start-up or an established large-scale business, KIZAD can offer customised business facilities spread across its Free Zone and Domestic Tariff Areas.']

block description
    .info-card__descr-wrap
        h2.info-card__title.section__title= infoTitle[item]
        p.info-card__text.mb-0(clamp-text="5")= infoText[item]
    .info-card__btn
        +link('#', 'with-icon icon-arrow-right d-none d-md-inline' ,' Read More ')

