.file-wrapper
    .download-icon
        i.icon-file-download
    .content-wrap
        .text KIZAD Offerings for businesses
        .language-links
            ul
                each x in ['English','Arabic','Chinese']
                    li
                        a(href="#")= x
            