.cluster-container{
  
    .cluster-header{
        padding:40px 15px 30px 45px;
        color:$primary;
    }
    .cluster-links{
      padding:30px 15px 30px;
      border-top:1px solid rgba(0,0,0,.1);
      @include lg(){
        padding-top:40px;
      }
      @include xl(){
        padding: 40px 40px 40px 260px;
      }
      .cluster-mob-title{
        width:100%;
        float:left;
        margin-bottom: 30px;
        @include font-size($xs-font);
        color:$primary;
      }
      .btn.with-icon{
        text-align: left;
        width:100%;
        box-shadow: none;
        background-color: #f7f7f7;
        @include md(){
          width:auto;
          margin-right: 20px;
        }
        @include lg(){
          display: block;
          position: relative;
          padding-right: 50px;
          
          i{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
          }
        }
        @include xl(){
          padding:16px 50px 16px 16px;
          line-height: 14px;
          &:hover{
            background-color: #bbbbba;
          }
        }
      }
    }
  }