.cluster-container{
  
  .cluster-header{
      padding:40px 15px 30px 45px;
      color:$primary;
  }
  .cluster-links{
    padding:30px 15px 30px;
    border-top:1px solid rgba(0,0,0,.1);
    @include lg(){
      padding-top:40px;
    }
    @include xl(){
      padding: 40px 40px 40px 250px;
    }
    .cluster-mob-title{
      width:100%;
      float:left;
      margin-bottom: 30px;
      @include font-size($xs-font);
      color:$primary;
    }
    .btn.with-icon{
      text-align: left;
      width:100%;
      padding-right: 50px;
        position: relative;
        cursor: pointer;
      @include md(){
        background-color: #f7f7f7;
        box-shadow: none;
        width:auto;
        margin-right: 20px;
      }
      @include lg(){
        display: block;
        position: relative;
      }
      @include xl(){
        padding:16px 50px 16px 16px;
        line-height: 14px;
        
      }
      i{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
      }
      &.active{
        background-color: #bbbbba;
      }
    }
  }
}