.cluster-container{
  
  .cluster-header{
      padding:40px 15px 30px 45px;
      color:$primary;
  }
  .cluster-links{
    padding:30px 15px 14px;
    border-top:1px solid rgba(0,0,0,.1);
    @include lg(){
      padding-top:40px;
    }
    @include xl(){
      padding: 40px 40px 24px 250px;
    }
    .cluster-mob-title{
      width:100%;
      float:left;
      margin-bottom: 24px;
      @include font-size($xs-font);
      color:$primary;
      font-family: $font-roboto-medium;
    }
    .btn.with-icon{
      text-align: left;
      width:100%;
      padding: 16px;
        position: relative;
        cursor: pointer;
        display: flex;
        position: relative;
        align-items: center;
      @include md(){
        background-color: #f7f7f7;
        box-shadow: none;
        width:auto;
        margin-right: 20px;
      }
      
      @include xl(){
        line-height: 14px;
        
      }
      i{
        transform: translateY(0%);
        margin-left:20px;
      }
      &.active{
        background-color: #bbbbba;
      }
    }
  }
}

[dir="rtl"]{
  .cluster-container{
    .cluster-links{
      > .pull-left{
        float:right;
      }
    }
  }
}