.license-cards-wrap{
  @include lg{
    margin-bottom: -32px;
  }
  .license-swiper{
    padding-bottom: 46px;
    .swiper-pagination{
      bottom: -3px;
    }
    @include lg{
      padding-bottom: 0;
      .swiper-pagination{
        display: none;
      }
    }
    .swiper-button-prev,.swiper-button-next{
      top:calc(50% - 42px);
      @include lg{
        top:calc(50% - 54px);
      }
    }
    .swiper-slide  {
      padding: 0 15px;
      height: auto;
      .license-card__text{
        p{
          @include custom-width(0px, 990px) {
            overflow: visible !important;
            display: block !important;
          }
        }
      }
    }
    @include lg{
      margin: 0 -16px;
      .swiper-wrapper {
        flex-wrap: wrap;
        width: 100%;
        display: flex;
      }
      .swiper-slide  {
        width: 50%;;
        height: auto;
        margin-bottom: 32px;
      }
      .swiper-button-wrapper{
        display: none;
      }
    }
    .license-card{
      height: 100%;
    }
  }
  .license-card{
    padding: 32px 40px;
    border-radius: 4px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    
    @include lg{
      padding: 30px 40px 40px;
      height: 100%;
    }
    &__icon{
      .icon-scale{
        font-size: 32px;
        @include lg{
          font-size: 64px;
        }
      }
      @include md{
        display: flex;
      }
      h3{
        color:$primary;
        @include font-size($md-font);
        font-family: $font-roboto-regular;
        line-height: 32px;
        padding-left: 8px;
        margin-bottom: 0;
        @include lg(){
          padding-left: 32px;
        }
      }
    }
    &__text{
      margin-top:24px;
      @include lg(){
        padding-left:96px;
        margin-top: -9px;
      }

      p{
        width: 100%;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
    
  }
}


