.row
    .widget
        .widget__header.container
            h2.heading.mb-0 Company license type
.row
    .col-12.p-0
        .license-cards-wrap.px-lg-3
            .widget__content
                .swiper-container.license-swiper
                    .swiper-wrapper
                        -var cardTs = ['Industrial License', 'Trading License', 'Service License', 'Issue of License']
                        each item in [0,1,2,3]
                            .swiper-slide
                                .license-card
                                    .license-card__icon
                                        span.icon-scale
                                        h3.d-inline=  cardTs[item]
                                    .license-card__text
                                        p(clamp-text='5') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.

                    include ../../tiles/swiper-buttons/swiper-buttons
                    .swiper-pagination