.license-cards-wrap{
  @include lg{
    margin-bottom: -32px;
  }
  .license-swiper{
    .swiper-pagination{
      bottom: -5px;
      @include lg{
        display: none;
      }
    }
    .swiper-button-prev,.swiper-button-next{
      top:calc(50% - 42px);
      @include lg{
        top:calc(50% - 54px);
      }
    }
    //@include lg{
    //  margin: 0 -16px;
    //  .swiper-wrapper {
    //    flex-wrap: wrap;
    //    width: 100%;
    //  }
    //  .swiper-slide  {
    //    width: 50%;
    //    padding: 0 16px;
    //  }
    //  .swiper-button-wrapper{
    //    display: none;
    //  }
    //}
  }
}
.license-card{
  padding: 32px 40px;
  border-radius: 4px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin-bottom: 44px;
  color:$grey;
  @include lg{
    padding: 48px;
    margin-bottom: 32px;
    display: flex;
  }
  &__icon{
    .icon-scale{
      font-size: 28px;
      @include lg{
        font-size: 64px;
      }
    }
  }
  h3{
    color:$primary;
    @include font-size($md-font);
    @include line-height($md-line-height);
  }
  p{
    margin-top: 24px;
    @include font-size($xs-font);
    @include line-height($paragraph-line-height);
    @include lg{
      @include font-size($paragraph-font);
    }
  }
}

