.banner {
    position: relative;
    color: $white;
    height: 432px;
    overflow: hidden;
    margin-top: 80px;
    @include md() {
        height: calc(100vh - 81px);
        min-height: 550px;
    }
    @include xl() {
        margin-top: 0;
        height: calc(100vh - 206px);
        
    }
    iframe,
    video,
    img {
        width: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
        height: 100%;
        @include md() {
            bottom: 50%;
            transform: translateY(50%);
        }
    }
    img{
        height: 101% !important;
    }
    .container {
        position: relative;
        height: 100%;
   
        
        // @include xl() {
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%);
        // }
        .text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            @include lg {
                max-width: 610px;
                left:auto;
            }
            
            @include custom-width(0px, 1199px) {
                padding: 0 15px;
            }
            // &.center{
            //     text-align: center;
            //     @include md(){
            //         width:80%;
            //         left:50%;
            //         transform: translate(-50%, -50%);
            //     }
            // }
            h1 {
                @include font-size($xxxxl-font);
                @include line-height($xxxxl-line-height);
                margin-bottom: 16px;
            }
            p {
                @include font-size($md-font);
                @include line-height($xl-line-height);
                font-family: $font-roboto-light;
                @include md() {
                    font-family: $font-roboto-regular;
                }
                
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
            .btn{
                margin-top: 32px;
                
            }
        }
    }
}

.banner-cluster {
    .banner {
        padding: 0;
        height: 250px;
        @include md(){
            height: 510px;
            max-height: 510px;
            min-height: 510px;
        }
        .text {
            padding-top: 0;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            width:100%;
            max-width:610px;
            
            // h1 {
            //     @include font-size($xxxl-font);
            //     @include line-height($xxl-line-height);
            //     margin-bottom: 20px;
            //     position: relative;
            //     @include lg() {
            //         margin-bottom: 30px;
            //     }
            // }
            // p {
            //     @include font-size($paragraph-font);
            //     @include line-height($paragraph-line-height);
            //     &:last-of-type{
            //         margin-bottom: 0;
            //     }
            // }
        }
        .container {
            position: relative;
            left: 0;
            transform: translateX(0);
            height: 100%;
        }
    }
}
