.banner
    //- video(src="src/assets/video/carousel1.mp4", autoplay, loop, muted, preload="auto")
    img(src="../src/assets/images/home-banner.jpg")
    .container
        .text
            h1 The integrated Trade, Logistics and Industrial Hub of Abu Dhabi
            p  Enabling trade and industrial investments by leveraging the Integrated services of KIZAD with Khalifa Port.