@font-face {
    font-family: 'icomoon';
    src:  url('assets/fonts/icomoon/icomoon.eot?y6wyok');
    src:  url('assets/fonts/icomoon/icomoon.eot?y6wyok#iefix') format('embedded-opentype'),
      url('assets/fonts/icomoon/icomoon.ttf?y6wyok') format('truetype'),
      url('assets/fonts/icomoon/icomoon.woff?y6wyok') format('woff'),
      url('assets/fonts/icomoon/icomoon.svg?y6wyok#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }



  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.icon-community:before {
  content: "\e905";
  color: #e10e49;
}
.icon-cost:before {
  content: "\e906";
  color: #e10e49;
}
.icon-people:before {
  content: "\e904";
  color: #fff;
}
.icon-present:before {
  content: "\e903";
}
.icon-calendar:before {
  content: "\e902";
  color: #fff;
}
.icon-scale:before {
  content: "\e901";
  color: #e10e49;
}
.icon-icon:before {
  content: "\e900";
  color: #e10e49;
}

.icon-sent:before {
  content: "\e907";
}