@font-face {
    font-family: 'icomoon';
    src:  url('assets/fonts/icomoon/icomoon.eot?k74exn');
    src:  url('assets/fonts/icomoon/icomoon.eot?k74exn#iefix') format('embedded-opentype'),
      url('assets/fonts/icomoon/icomoon.ttf?k74exn') format('truetype'),
      url('assets/fonts/icomoon/icomoon.woff?k74exn') format('woff'),
      url('assets/fonts/icomoon/icomoon.svg?k74exn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-icon:before {
    content: "\e900";
  }
  