

@include keyframes(flash){
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@include keyframes(glance){
    0% {transform: rotate(-45deg) translateY(-451%);}
    100% {transform: rotate(-45deg) translateY(500%);}
}

@include keyframes(popup){
    0% {opacity: 0.0; transform: scale3d(0.8,0.8,1);transition: all 0.9s;}
    100% {opacity: 1; transform: scale3d(1,1,1);transition: all 0.9s;}
}


@include keyframes(down-to-top){
    0% {bottom: 0px;opacity: 0}
    100% {bottom: 80px;opacity: 1}
}
@include keyframes(top-to-down){
    0% {bottom: 80px;opacity: 1}
    99% {bottom: 0px;opacity: 0}
    100% {display: none}
}