$breakpoints: ( 
  xs: 0, 
  sm: 576px, 
  md: 768px, 
  lg: 992px, 
  xl: 1200px,
  xxl: 1500px
);
/////////////////
// Fonts
////////////////
$font-sizes: ( xxxs: 14px, xxs: 16px, xs:20px, sm: 24px, md:25px, lg:30px, xl: 32px, xxl: 33px, xxxl: 40px, xxxxl: 64px);
//////
$xxxxl-font: ( null: map-get($font-sizes, lg), xs: map-get($font-sizes, xxl), md: map-get($font-sizes, xxxl), lg: map-get($font-sizes, xxxxl));
$xxxl-font: ( null: map-get($font-sizes, xl), xs: map-get($font-sizes, xl), md: map-get($font-sizes, xxl), lg: map-get($font-sizes, xxxl));
$xxl-font: ( null: map-get($font-sizes, lg), xs: map-get($font-sizes, lg), md: map-get($font-sizes, xl), lg: map-get($font-sizes, xxl));
$xl-font: ( null: map-get($font-sizes, md), xs: map-get($font-sizes, md), md: map-get($font-sizes, lg), lg: map-get($font-sizes, xl));
$lg-font: ( null: map-get($font-sizes, sm), xs: map-get($font-sizes, sm), md: map-get($font-sizes, md), lg: map-get($font-sizes, lg));
$md-font: ( null: map-get($font-sizes, xs), xs: map-get($font-sizes, xs), md: map-get($font-sizes, sm), lg: map-get($font-sizes, sm));
$sm-font: ( null: map-get($font-sizes, xs), xs: map-get($font-sizes, xs), md: map-get($font-sizes, xs), lg: map-get($font-sizes, xs));
$xs-font: ( null: map-get($font-sizes, xxs), xs: map-get($font-sizes, xxs), md: map-get($font-sizes, xxs), lg: map-get($font-sizes, xxs));
$xxs-font: ( null: map-get($font-sizes, xxxs), xs: map-get($font-sizes, xxxs), md: map-get($font-sizes, xxxs), lg: map-get($font-sizes, xxxs));
$paragraph-font: ( null: map-get($font-sizes, xxxs), xs: map-get($font-sizes, xxxs), md: map-get($font-sizes, xxs), lg: map-get($font-sizes, xs));
$section-title-font: ( null: map-get($font-sizes, sm), xs: map-get($font-sizes, sm), md: map-get($font-sizes, lg), lg: map-get($font-sizes, xxxl));


// line height
////////////////
$line-height: ( xxxs: 12px, xxs: 14px, xs:20px, sm: 24px, md:28px, lg:30px, xl: 36px, xxl: 40px, xxxl: 48px, xxxxl: 74px);
//////
$xxxxl-line-height: ( null: map-get($line-height, xxl), xs: map-get($line-height, xxl), md: map-get($line-height, xxxxl), lg: map-get($line-height, xxxxl));
$xxxl-line-height: ( null: map-get($line-height, xl), xs: map-get($line-height, xl), md: map-get($line-height, xxxl), lg: map-get($line-height, xxxl));
$xxl-line-height: ( null: map-get($line-height, lg), xs: map-get($line-height, lg), md: map-get($line-height, xxl), lg: map-get($line-height, xxl));
$xl-line-height: ( null: map-get($line-height, xs), xs: map-get($line-height, xs), md: map-get($line-height, lg), lg: map-get($line-height, lg));
$lg-line-height: ( null: map-get($line-height, md), xs: map-get($line-height, md), md: map-get($line-height, md), lg: map-get($line-height, md));
$md-line-height: ( null: map-get($line-height, xs), xs: map-get($line-height, xs), md: map-get($line-height, sm), lg: map-get($line-height, sm));
$sm-line-height: ( null: map-get($line-height, xs), xs: map-get($line-height, xs), md: map-get($line-height, xs), lg: map-get($line-height, xs));
$xs-line-height: ( null: map-get($line-height, xs), xs: map-get($line-height, xs), md: map-get($line-height, xxs), lg: map-get($line-height, xxs));
$xxs-line-height: ( null: map-get($line-height, xxs), xs: map-get($line-height, xxs), md: map-get($line-height, xxxs), lg: map-get($line-height, xxxs));
$paragraph-line-height: ( null: map-get($line-height, sm), xs: map-get($line-height, sm), md: map-get($line-height, md), lg: map-get($line-height, lg));

/////////////////
// Colors
////////////////

// $brand: #0047bb;
// $text: #353535;
// $text-mute: lighten(#353535,10%);
$primary: #1d1d1e;
$secondary:  #ec1a46;
$mute: #fcfcfc;
$white: #fff;
$black: #000;
$grey: #7a7a7a;
// $dark-grey:  #333333;
$light-grey: #d6d6d6;
$lighter-grey: #989898;
// $light-grey:  #f6f6f6;
$disabled: #bababa;
$grey-bg:#f8fafd;
$error-color: #f6303f;
$error-bg: #fff0f1;
$success-color: #390;
$font-roboto-thin: "roboto-thin",sans-serif;
$font-roboto-light: "roboto-light",sans-serif;
$font-roboto-regular: "roboto-regular",sans-serif;
$font-roboto-medium: "roboto-medium",sans-serif;
$font-roboto-bold: "roboto-bold",sans-serif;
$font-archive: "archive-regular",sans-serif;
$font-archive-bold: "archive-bold",sans-serif;


/////////////////
// font
////////////////

$font: "OpenSans",
sans-serif;
$font-normal: 400;
$font-semi: 600;
$font-bold: 700;

////////////////////////
// Bootstrap Overrides
////////////////////////

$body-bg: $white;
$body-color: $grey;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $error-color,
  "success": $success-color
);
$hr-border-color: $light-grey;
$container-max-widths: ( 
sm: 100%, 
md: 100%, 
lg: 100%, 
xl: 1500px ) !default; 

