.offer-card{
  border-radius: 8px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
  max-width: 598px;
  &__wrap{
    height: 100%;
    padding-bottom: 16px;
    @include lg{
      padding-bottom: 32px;
    }
  }
  &__icon{
    background: $secondary;
    padding: 36px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    @include xl{
      padding: 52px 58px;
    }
    @include xxl{
      padding: 67px 73px;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display:block !important;
   }
  }
  .icon-calendar{
    font-size: 34px;
    @include xl{
      font-size: 44px;
    }
    @include xxl{
      font-size: 54px;
    }
  }
  &__content{
    padding: 16px;
    width: 100%;
    background-color: $white;
    @include lg{
      padding: 10px 10px 10px 16px;
    }
    @include xl{
      padding-left: 32px;
    }
    p{
      color: $mute-grey;
      font-family: $font-roboto-regular;
      line-height: 1.15;
    }
    h3{
      color: $primary;
      letter-spacing: -0.9px;
      @include font-size($xs-font);
      @include lg{
        @include font-size($md-font);
      }
    }
    span{
      @include font-size($md-font);
      color: $secondary;
      font-family: $font-roboto-bold;
      line-height: normal;
      @include lg{
        font-size: 28px;
      }
      p{
        color: $primary;
      }
    }
  }
}
