.widget-accordion {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
    padding:0 16px;
    @include lg{
        padding:0
    }
    .accordion-tiles {
        margin-bottom: 3px;
        background-color: $white;
        &.active {
            background-color: rgba(167, 169, 172, 0.1);
            a {
                i {
                    transform: rotateX(180deg);
                }
                p {
                    font-family: $font-roboto-medium;
                }
            }
        }
        a {
            padding: 20px;
            display: flex;
            cursor: pointer;
            justify-content: space-between;
            align-items: center;
            p {
                margin-bottom: 0;
                padding-right: 16px;
                font-family: $font-roboto-regular;
            }
            i {
                font-size: 14px;
                line-height: 0;
                color: $secondary;
                font-weight: bold;
                @include md{
                    font-size: 23px;
                }
                @include transition(all 0.55s ease-in-out);
            }
        }
        .accordion-content {
            display: none;
            padding: 10px 20px 40px;
            @include lg(){
                padding-right:126px;
            }
            p{
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    padding: 0;
                    display: initial;
                    color: $anchor;
                }
            }
            ul{
                margin-bottom: 0;
                + p{
                    margin-top: 16px;
                }
            }
        }
    }
}
