mixin caseStudy(items)
    .case-stydy
        .bg-image
            img(src='${require(`./assets/images/home-banner.jpg`)}', attr="Case Study Image")

        
        
        .swiper-container.swiper-custom
            .swiper-wrapper(data-slide="3", data-space="20", data-pagination=true, data-navigation=true)
                each x in [0,1,2]
                    .swiper-slide.legal-type-card
                        .legal-type-card__text
                            h3.legal-type-card__title Accomodating capsize ship into Khalifa Port
                            p.mb-0(clamp-text="4") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id nisl vitae magna pellentesque ornare. Nam augue lectus, pulvinar non porttitor quis, egestas sit amet arcu. Sed in neque at diam vestibulum consectetur. Donec finibus dolor mauris, lobortis hendrerit nisl iaculis in. In eu finibus dui, at tincidunt eros..
            
            include ../../tiles/swiper-buttons/swiper-buttons
            .swiper-pagination
