.feature-carousel {
    // .swiper-custom{
    //     padding-bottom: 0;
    // }
    padding: 0 15px;
    // .swiper-wrapper{
    //     .swiper-slide{
    //         padding: 0 15px;
    //     }
        
    // }
    &.disable-carousel{
        .swiper-pagination, .swiper-button-wrapper{
            display: none;
        }
        .block-content{
            padding: 0;
        }
        .swiper-custom{
            padding-bottom: 0px;
        }
    }
    .swiper-button-wrapper{
        @include custom-width(0px, 991px) {
            top:164px;
            @include md(){
                top:379px;
            }
        }
        
    }
    .location {
        &__image-wrap {
            max-width:100%;
            @include lg() {
                height: 100%;
            }
            img {
                @include lg() {
                    height: 100%;
                    max-height: 534px;
                }
            }
        }

        &__wrap {
            &-rtl {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 15px 10px 0;
                @include lg(){
                    padding: 0 48px;
                }
            }
            &-content {
                display: block;
                // p{
                //     &:last-of-type{
                //         margin-bottom: 0;
                //     }
                // }
            }
            &-image {
                img {
                    height: 112px;
                    object-fit: cover;
                    width: 100%;
                    @include lg(){
                        height: 240px;
                    }
                }
                .area-define{
                    margin: 0;
                    padding: 15px 0 5px;
                    display: flex;
                    justify-content: space-between;
                    color: $primary;
                    li{
                        list-style-type: none;
                        span{
                            font-family: $font-roboto-bold;
                            float: left;
                            @include md(){
                                float: inherit;
                            }
                        }
                        &::before{
                            display: none;
                        }
                    }
                }
            }
        }
        &__slider{
            &-content{
                @include lg(){
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-top:0;
                }
            }
        }
    }
}
