mixin location(rtl)
    .location
        .row.no-gutters
            div.col-12.col-lg-5.col-xl-4.order-1(class=rtl ? '' : 'order-lg-0')
                div(class=rtl ? 'location__wrap-rtl text-right' : 'location__wrap-ltr')
                    h2.section__title.text-nowrap Strategic Location
                    p.location__text Strategically located between Abu Dhabi and Dubai, the two most important economic centres of the region, KIZAD has an exceptional location and is ideally positioned to serve the key consumption markets in the GCC, Middle East and Africa.
                    +button('button', 'btn-secondary' ,' Read more ')
            div.col-12.col-lg-7.col-xl-8(class=rtl ? '' : 'order-lg-1')

                div.location__image-wrap(class=rtl ? 'text-left' : 'text-right')
                    img(src="../src/assets/images/location.jpg")