.location-items-wrap{
  .location{
    margin-bottom: 8px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.location{
  &__text{
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    text-overflow: ellipsis;
    // margin: 0 0 27px;
    @include font-size($paragraph-font);
    @include line-height($paragraph-line-height);
    // @include lg{
    //   margin: 15px 0 20px;
    //   // max-height: 9em;
    // }
    // @include xl{
    //   margin: 24px 0 40px;
    // }
  }
  // &__wrap-ltr{
  //   padding: 16px 0 32px;
  //   @include md{
  //     padding: 40px 0 32px 0;
  //   }
  //   @include xl{
  //     padding: 60px 32px 0 0;
  //   }
    
  // }
  // &__wrap-rtl{
  //   padding: 16px 0 32px;
  //   @include md{
  //     padding: 40px 0 32px 0;
  //   }
  //   @include lg{
  //     padding: 0 32px;
  //   }
  //   // @include lg{
  //   //   padding: 30px 32px 0 32px;
  //   // }
  //   // @include xl{
  //   //   padding: 50px 32px 0 32px;
  //   // }
  //   // @include xxl{
  //   //   padding: 80px 32px 0 32px;
  //   // }
  //   label{
  //     color: $grey;
  //     font-size: 13px;
  //     font-family: $font-roboto-medium;
  //     letter-spacing: 1px;
  //     margin-bottom: 16px;
  //     @include lg(){
  //       margin-bottom: 24px;
  //     }
  //   }
  // }
  &__image-wrap{
    padding:0;
    @include xl(){
      height:100%;
      padding:0 32px 0 0;
    }
    img{
      object-fit: cover;
      height: 55.91vw;
      width: 100%;
      @include lg{
        height: 432px;
      }
    }
  }
  &__wrap{
    padding:16px 0 0;
    @include lg{
      padding:32px 0 0 32px;
    }
    &-rtl{
      padding:16px 0 0;
      @include lg{
        padding:32px 0 0 32px;
      }
    }
    &-ltr{
      padding:16px 0 0;
      @include lg{
        padding:32px 32px 0 0;
      }
    }
  }
  p{
    margin-bottom: 8px;
    @include md{
      margin-bottom: 16px;
    }
    &:last-of-type{
      margin-bottom: 0;
      
    }
  }
  // p{
  //   color:$primary;
  // }
  ul{
    padding-left: 22px;
      li{
        list-style-type: none;
        position: relative;
        @include font-size($xxs-font);
        @include line-height($paragraph-line-height);
        margin-bottom: 10px;
        // font-family: $font-roboto-light;
        &:last-child{
          margin-bottom: 0;
        }
        @include md(){
          @include font-size($xs-font);
        }
        @include lg(){
          @include font-size($sm-font);
        }
        &:before{
          position: absolute;
          display: block;
          left: -22px;
          top: 12px;
          content: '';
          width: 5px;
          height: 5px;
          border-radius: 50%;
          color: $secondary;
          background: $secondary;
        }
      }
  }
  .section__title{
    margin-bottom: 8px;
    margin-top: 0;
    @include line-height($xxxl-line-height); 
    @include lg{
      margin-bottom: 24px;
      margin-top: 0;
    }
  }

  &.location-map{
    .location__image-wrap{
      img{
        height: 55.91vw;
        @include lg{
          height: 648px;
        }
      }
    }

    // .location__wrap-rtl{
    //   padding: 16px 0 32px;
    //   @include md{
    //     padding: 40px 0 32px 0;
    //   }
    //   @include lg{
    //     padding: 60px 32px 60px 0;
    //   }
      
    // }
    
  }
  &.reverse{
    direction: rtl;
    // .location__wrap-rtl{
    //   padding: 24px 16px 32px;
    //   @include md{
    //     padding: 40px 0 32px 0;
    //   }
    //   @include lg{
    //     padding: 60px 0 60px 32px;
    //   }
      
    // }
  }
}