.location-items-wrap{
  .location{
    margin-bottom: 8px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.location{
  &__text{
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    text-overflow: ellipsis;
    
    margin: 0 0 27px;
    @include font-size($paragraph-font);
    @include line-height($paragraph-line-height);
    @include lg{
      margin: 15px 0 20px;
      max-height: 9em;
    }
    @include xl{
      margin: 24px 0 40px;
    }
  }
  &__wrap-ltr{
    padding: 24px 16px 32px;
    @include md{
      padding: 40px 0 32px 0;
    }
    @include lg{
      padding: 30px 38px 0 0;
    }
    @include xl{
      padding: 50px 38px 0 0;
    }
    @include xxl{
      padding: 80px 48px 0 0;
    }
  }
  &__wrap-rtl{
    padding: 24px 16px 32px;
    @include md{
      padding: 40px 0 32px 0;
    }
    @include lg{
      padding: 30px 34px 0 38px;
    }
    @include xl{
      padding: 50px 44px 0 38px;
    }
    @include xxl{
      padding: 80px 64px 0 48px;
    }
    label{
      color: $primary;
      font-size: 13px;
      font-family: $font-roboto-medium;
      letter-spacing: 1px;
      margin-bottom: 16px;
    }
  }
  &__image-wrap{
    img{
      object-fit: cover;
      height: 55.91vw;
      width: 100%;
      @include lg{
        min-height: 350px;
        height: auto;
      }
      @include xl{
        min-height: 450px;
        width: auto;
      }
    }
  }
  p{
    color:$primary;
  }
}

// #products{
//   .location__image-wrap{
//     img{
//       max-height: 648px;
//     }
//   }
// }

// #partners{
//   .location__image-wrap{
//     img{
//       max-height: 500px;
//     }
//   }
// }