.news-slider{
  max-width: 1500px;
  @include xxl{
    margin: 0 auto;
  }
  .btn{
    border: 2px solid $secondary;
    color: $secondary;
  }
  &__header{
    padding: 0 16px;
    margin-bottom: 24px;
    @include lg{
      margin-bottom: 40px;
    }
  }
  &__title{
    font-family: $font-archive-bold;
    font-size: 24px;
    color: $primary;
    @include lg{
      font-family: $font-roboto-bold;
      font-size: 32px;

    }
  }
  &__content{

  }
  .swiper-slide{
    margin-bottom: 44px;
    @include sm{
      max-width: 350px;
    }
    @include lg{
      margin-bottom: 40px;
    }
  }
  .swiper-pagination{
    bottom: -3px;
    @include lg{
      display: none;
    }
  }
  .swiper-container{
    padding: 0 16px;
  }
}

.card-news{
  border-radius: 4px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
  background-color: $white;
  &__header{
    border-radius: 4px;
  }
  &__content{
    padding: 15px 16px 24px;
    @include md{
      padding: 24px;
    }
  }
  &__date{
    font-family: $font-roboto-medium;
    font-size: 12px;
    letter-spacing: 0.92px;
    color: $grey;
    @include lg{
      font-size: 13px;
      letter-spacing: 1px;
    }
  }
  &__text{
    font-family: $font-roboto-regular;
    font-size: 16px;
    line-height: 1.5;
    max-height: 3em;
    overflow: hidden;
    color: $primary;
    @include md{
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 32px;
      max-height: 4.5em;
    }
    @include lg{
      font-size: 20px;
      line-height: 1.4;
    }
  }
}