.news-slider{
  @include xxl{
    margin: 0 auto;
  }
  .news-wrapper{
    margin-bottom: 0;
    height: 100%;
  }
  .swiper-slide{
    margin-bottom: 44px;
    height: auto;
     @include lg{
       margin-bottom: 0;
     }
  }
  .swiper-pagination{
    bottom: 0;
    @include lg{
      display: none;
    }
  }
  .swiper-container{
    padding: 0 16px;
    @include xl(){
      overflow: visible;
    }
  }
  .news-widget{
    p{
      margin-bottom: 0;
    }
  }
}

.card-news{
  border-radius: 4px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
  background-color: $white;
  &__header{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &__content{
    padding: 15px 16px 24px;
    @include md{
      padding: 24px;
    }
  }
  &__date{
    font-family: $font-roboto-medium;
    font-size: 12px;
    letter-spacing: 0.92px;
    color: $grey;
    @include lg{
      font-size: 13px;
      letter-spacing: 1px;
    }
  }
  &__text{
    font-family: $font-roboto-regular;
    @include font-size($xs-font);
    @include line-height($paragraph-line-height);
    // max-height: 3em;
    overflow: hidden;
    color: $primary;
    @include md{
      @include font-size($sm-font);
      @include line-height($lg-line-height);
      margin-bottom: 32px;
      // max-height: 4.5em;
    }
  }
}