section.widget.news-slider
    .widget__header.container.d-flex.justify-content-between.align-items-center
        h2.heading.mb-0 News and Updates
        +anchor('btn-white secondary-bordered d-none d-lg-inline-block' ,'View all')
    .news-slider__content
        .news-slider__slider
            .swiper-container
                .swiper-wrapper
                    mixin newsList(item)
                        .swiper-slide
                            .news-slider__card.card-news
                                .card-news__header
                                    img(src= item.img)
                                .card-news__content
                                    .card-news__date.text-uppercase.mb-3.mb-md-4 Jan 07, 2020
                                    .card-news__text(clamp-text='2') KIZAD and AIPMA open new investment opportunities for Indian polymer companies
                                    +link('#', 'with-icon d-none d-md-inline icon-arrow-right' ,' Read More ')

                    +newsList({
                      img: '${require(`./assets/images/news/news-img-1-2x.jpg`)}'
                    })
                    +newsList({
                      img: '${require(`./assets/images/news/news-img-2-2x.jpg`)}'
                    })
                    +newsList({
                      img: '${require(`./assets/images/news/news-img-3-2x.jpg`)}'
                    })
                    +newsList({
                      img: '${require(`./assets/images/news/news-img-4-2x.jpg`)}'
                    })
                include ../../tiles/swiper-pagination/swiper-pagination