.video-swiper{
    width:100%;
    z-index: inherit;
    .swiper-button-wrapper{
        display: none;
        @include lg(){
            display: block;
        }
    }
    .swiper-slide{
        height:264px;
        background: $grey;
        position: relative;
        color:$white;
        background-size: cover;
        background-repeat: no-repeat;
        .content{
            position: absolute;
            bottom:20px;
            p{
                font-family: $font-archive-bold;
                @include font-size($xs-font);
                @include lg(){
                  @include font-size($md-font);
                }
            }
        }
        .icon{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            outline: 0;
            i{
                font-size: 80px;
                color:$white;
                outline: 0;
            }
        }
    }
    .modal-dialog{
        margin: 0 auto;
        @include md(){
            max-width: 900px;
        }
    }
    .modal{
        .modal-content{
            background-color: $black;
        }
    }
}