
.btn{
    padding:10px 30px;
    border-radius: 10px;
    @include font-size($xxs-font);
    font-family: $font-roboto-medium;
    color:$white;
    background: transparent;
    
    @include lg(){
        padding:14px 30px;
        max-height: 48px;
    }
    &.btn-primary{
        border:0;
        background-color: $primary;
        &:hover{
            background-color: $secondary;
        }
        &--outline{
            border:1px solid $white;
            color:$light-grey;
            &:hover{
                border:1px solid $secondary;
            }
        }
    }
    &.btn-secondary{
        border:0;
        background-color: $secondary;
        color:$white !important;
        &:hover{
            background-color: $secondary;
        }
        // &--outline{
        //     border:1px solid $white;
        //     color:$light-grey;
        //     &:hover{
        //         border:1px solid $secondary;
        //     }
        // }
    }
    &.btn-white{
        border:0;
        background-color: $white;
        color: $primary !important;
        &.secondary-bordered{
            border: 2px solid $secondary;
            color: $secondary !important;
            @include lg(){
                padding:12px 30px;
            }
        }
    }
    &.with-icon{
        padding:10px 10px;
        background-color: $white;
        color:$primary !important;
        @include font-size($xs-font);
        @include shadow(0 5px 15px rgba(0, 0, 0, 0.15));
        width:100%;
        display: flex;
        justify-content: space-between;
    }
    &.disabled{
        background-color: $disabled;
        color:$mute;
        &:hover{
            background-color: $disabled;
            color:$mute;
        }
    }
    
}