.contact__map{
    max-height:310px;
    height:310px;
    @include lg(){
        max-height:915px;
        height:100%;
    }
    [map-location]{
        height: 100%;
    }
    .fa-map-marker{
        font-size: 50px;
    }
}