.swiper-custom{
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
    &.without-pagination{
        padding-bottom: 0;
    }
    &.map-item{
        .location__image-wrap{
            img{
                @include lg(){
                    height:700px;
                }
            }
        }
    }
    &.disable-carousel{
        .swiper-button-wrapper{
            display: none !important;
        }
        .swiper-pagination{
            display: none !important;
        }
    }
    .swiper-button-wrapper{
        position: absolute;
        top:90px;
        width:100%;
        display: none;
        @include md{
            top:223px;
        }
        @include lg(){
            display: block;
        }
        @include xl{
            top:calc(50% - 25px);
        }
        &.container{
            display: block;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9;
        
        }
        &.full-height{
            top:calc(50% - 25px);
        }
    }
    .swiper-pagination{
        bottom: 0;
    }
    .location__wrap-rtl{
        @include custom-width(0px, 1170px) {
        padding: 0;
        padding-top:20px;
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
        }
        .section__title{
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 16px;
            @include lg{
                font-size: 32px;
                line-height: 38px;
            }
          }
          p{
            font-size: 14px;
              @include md{
                font-size: 16px;
              }
            
            line-height: 24px;
            font-family: $font-roboto-regular;
          }

    }
}


.location__slider-content{
    padding-top: 16px;
    .swiper-custom__label{
        font-family: $font-roboto-medium;
        text-transform: uppercase;
        letter-spacing: .92px;
        font-size: 12px;
    }
    @include lg(){
        .location__text{
            color: $primary;
        }
    }
    @include xl(){
        padding-top: 32px;
        .swiper-custom__label{
            letter-spacing: 1px;
            font-size: 12px;
        }
    }
    h2{
        margin-bottom: 16px;
        @include xl{
            margin-bottom: 24px;
        }
    }
    p{
        margin-bottom: 16px;
        @include xl{
            margin-bottom: 24px;
        }
        
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    .btn{
        margin-top: 24px;
        @include xl{
            margin-top: 40px; 
        }
    }
    .link{
        margin-top: 14px;
        display: block;
        @include lg{
          margin-top: 30px;
        }
      }
      .location__wrap-content{
          .section__title{
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 16px;
            @include lg{
                font-size: 32px;
                line-height: 38px;
            }
          }
          p{
            font-size: 14px;
              @include md{
                font-size: 16px;
              }
            line-height: 24px;
            font-family: $font-roboto-regular;
          }
      }
}
.location__image-wrap.location__slider-image{
    @include xl(){
        max-width: 598px;
        img{
            min-height: 543px;
        }
    }
}


[dir=rtl]{
    .swiper-button-wrapper{
        .swiper-button-next{
            left: 0 !important;
            right: auto !important;
        }
    }
}