.content-wrapper(style="background-image: url( '${require(`./assets/images/intro-bg.svg`)} ' )")
    label Introduction
    h2 Khalifa Industrial Zone Abu Dhabi [KIZAD], a subsidiary of Abu Dhabi Ports, is the largest industrial and free trade zone in the MENA region and offers the most competitive business setup solutions and world-class infrastructure facilities in the UAE.
