.content-wrapper{
    padding:40px 15px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 260px;
    background-position: 148% 100%;
    border-bottom: 1px solid #d8d8d8;
    @include lg{
        background-size: 344px;
        padding:60px 140px 60px 80px;
        background-position: 100% 100%;
    }
    label{
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $lighter-grey;
        font-family: $font-roboto-medium;
        margin-bottom: 8px;
        @include lg(){
            margin-bottom: 24px; 
        }
    }
    h2{
        margin-bottom: 0;
        color: $primary;
        font-family: $font-roboto-regular;
        @include font-size($lg-font);
        @include line-height($intro-line-height);
    }
    p{
        &:empty{
            display: none;
        }
    }
    &.inner-content{
        border-bottom: 0;
        // h2{
        //     margin-bottom: 8px;
        //     font-family: $font-roboto-regular;
        //     @include font-size($lg-font);
        //     @include line-height($intro-line-height);
        // }
        p{
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
}