extends layout/layout
block content

  .placeholder.placeholder--no-padding.placeholder--bg-light-grey
    include ./widgets/banner-inner/banner-inner
    +innerBanner({
      title: 'Metals',
      content: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
    })

  .placeholder
    .container.mb-5
      .widget
        .widget__header
          label.label Benefits
          h2.heading Infrastructure and Business Ecosystem
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      
      include tiles/video-tile/video-tile

    .container
      .swiper-custom
        .swiper-wrapper(data-slide="1")
          each item in [0,1,2,3,4,5,6]
            .swiper-slide
              .location.block-content
                .row.no-gutters
                    .col-12.col-xl-6
                        .location__image-wrap
                            img(src="${require(`./assets/images/city-img.jpg`)}")
                    .col-12.col-xl-6
                      .location__wrap-rtl.pt-xl-0
                        //- label January 07, 2020
                        h2.section__title Presence of Anchor Industries Enabling Easy Access to Raw Materials: Aluminium & Steel
                        p.location__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id nisl vitae magna pellentesque ornare. Nam augue lectus, pulvinar non porttitor quis, egestas sit amet arcu. Sed in neque at diam vestibulum consectetur. Donec finibus dolor mauris, lobortis hendrerit nisl iaculis in. In eu finibus dui, at tincidunt eros. Etiam pretium sit amet dolor eu lacinia. Integer vulputate dolor neque, ut finibus purus lobortis sed. Praesent porta malesuada diam imperdiet condimentum. Mauris id magna nec ex convallis commodo nec vitae elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin porta, metus quis tristique vestibulum, leo nunc pulvinar nisl, in lacinia erat quam id lorem. Suspendisse vel tellus tristique, suscipit orci sit amet, ultricies massa. In a augue arcu. Fusce tristique eget magna vitae venenatis. Sed ut placerat eros. Maecenas eu nisl vitae neque blandit egestas vitae in enim. Mauris eu condimentum lectus. Integer quis malesuada nisi. Sed efficitur enim quis mi eleifend dignissim. Fusce ultricies odio eget blandit tristique. Nam varius vehicula dolor nec condimentum. Integer mollis ultrices libero eget tincidunt. Sed tincidunt aliquet magna, vitae egestas lorem ornare vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur blandit aliquet lectus, ac consequat libero gravida a. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dapibus neque a libero cursus bibendum. Proin venenatis magna vel finibus placerat. Sed pulvinar eu libero ac dignissim. Praesent aliquet neque ultrices, ultrices lorem ut, rutrum odio. Aenean et nisi purus. Proin vel justo pulvinar, convallis sem sed, consectetur magna. Nam arcu libero, iaculis ullamcorper dignissim in, ornare quis ligula. Mauris tristique a nisi at sagittis. Mauris pharetra leo ac felis suscipit pulvinar.
                        //- +link('#', 'with-icon' ,' Read More ')
        include tiles/swiper-buttons/swiper-buttons
        .swiper-pagination

  .placeholder
    .container
      .row.no-gutters
        include widgets/tab-content/tab-content