extends layout/layout
block content

  .placeholder.placeholder--no-padding.banner-cluster
    include ./widgets/banner/banner

  .placeholder.placeholder--bg-primary.placeholder--no-padding
    .container
      .row
        include ./widgets/navigation-link/navigation-link
    
  .placeholder
    .container
      .widget
        .widget__header
            h2.heading VALUE PROPOSITION FOR KEY INDUSTRIES
            p.dt-primary KIZAD provides unique value propositions for each industry to ensure investors are competitive to support their focus areas and business growth.
      each x in ['Metals', 'Polymers', 'Energy', 'Food', 'Automobile']
        .product-wrapper
          include ./widgets/overview-text/overview-text
          +products({
            title: x,
            text: 'At the centre of trade between Europe, Asia and Africa, Abu Dhabi, the capital of the UAE, is a thriving business and lifestyle hub. Distinctive Arabian hospitality and rich culture, blended with a cosmopolitan and modern lifestyle, make Abu Dhabi an attractive and comfortable city to work and live.',
            btnText: 'Explore',
            image: "${require(`./assets/images/city-img.jpg`)}"})

  .placeholder.placeholder--bg-grey
    include ./widgets/learn-more/learn-more

  .placeholder.placeholder--bg-grey#Sustainability
    include widgets/news-slider/news-slider

  .placeholder.placeholder--bg-grey#Sustainability
    .container.block-content
      .widget
          .widget__header.text-center
            label.label Frequently Asked Questions
            h2.heading Common questions about KIZAD
      include widgets/accordion/accordion
