extends layout/layout
block content

  .placeholder
    .container
      .row.block-content
        .col-md-6
          include ./tiles/card/card
          +card({
            class: 'fa fa-envelope',
            title: 'By Email',
            disc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id nisl vitae magna pellentesque ornare. Nam augue lectus, pulvinar non porttitor quis, egestas sit amet arcu. Sed in neque at diam vestibulum consectetur. Donec finibus dolor mauris, lobortis hendrerit nisl iaculis in. In eu finibus dui, at tincidunt eros.'
          })

        .col-md-6
          include ./tiles/card/card
          +card({
            class: 'fa fa-phone',
            title: 'By Phone',
            disc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id nisl vitae magna pellentesque ornare. Nam augue lectus, pulvinar non porttitor quis, egestas sit amet arcu. Sed in neque at diam vestibulum consectetur. Donec finibus dolor mauris, lobortis hendrerit nisl iaculis in. In eu finibus dui, at tincidunt eros.'
          })

  .placeholder
    .container
      .row.m-lg-0(location-tabbed)
        include widgets/location-map/location-map
