extends layout/layout
block content



    .placeholder.placeholder--no-padding.banner-cluster
        include ./widgets/banner/banner


    .placeholder
        .container
            .widget
                .widget__header
                    label.label About
                    h2.heading KHALIFA PORT FREE TRADE ZONE
                    p Khalifa Port Free Trade Zone (Khalifa Port FTZ) is a next generation platform for trade, logistics and manufacturing.
            
            .location
                .row.no-gutters
                    .col-12.col-xl-6
                        .location__image-wrap
                            img(src="${require(`./assets/images/city-img.jpg`)}")
                    .col-12.col-xl-6
                      .location__wrap-rtl.pt-xl-0
                        //- label January 07, 2020
                        h2.section__title Free Zone
                        p.location__text KIZAD offers both Free Zone and Domestic Industrial Zone facilities for investors, who can choose their facilities based on their business strategy and requirements.
                        p Whether you are a small start-up or an established large-scale business, KIZAD can offer customised business facilities spread across its Free Zone and Domestic Tariff Areas. Here you will find further information on the benefits and procedures to help you get started and considering the next steps.
                        //- +link('#', 'with-icon' ,' Read More ')

    .placeholder.placeholder--bg-grey
        .container
            include ./widgets/features-table/features-table

    .placeholder
        .container
            .widget
                .widget__header
                    label.label Product
                    h2.heading COMPANY LEGAL TYPE
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .row.legal-type-wrap
                .col-12.col-md-6.col-xl-4
                    include ./widgets/legal-type/legal-type
                    +legalType('Limited liability Company','8')
                .col-12.col-md-6.col-xl-4
                    include ./widgets/legal-type/legal-type
                    +legalType('Branch Company','8')
                .col-12.col-md-6.col-xl-4.mx-md-auto
                    include ./widgets/legal-type/legal-type
                    +legalType('Optional Dual Licence for Free Zone Companies','8')

    .placeholder.placeholder--bg-grey
        .container
            include ./widgets/license-type/license-type

    .placeholder.placeholder--bg-grey
        .container
            include ./widgets/tariffs/tariffs
