extends layout/layout
block content


    include ./widgets/support/support
    .placeholder.placeholder--no-padding.banner-cluster
        include ./widgets/banner/banner


    .placeholder
        .container
            .widget
                .widget__header
                    label.label About
                    h2.heading KHALIFA PORT FREE TRADE ZONE
                    p Khalifa Port Free Trade Zone (Khalifa Port FTZ) is a next generation platform for trade, logistics and manufacturing.
            
            .location
                .row.no-gutters
                    .col-12.col-xl-6
                        .location__image-wrap
                            img(src="${require(`./assets/images/city-img.jpg`)}")
                    .col-12.col-xl-6
                      .location__wrap-rtl.pt-xl-0
                        //- label January 07, 2020
                        h2.section__title Free Zone
                        p.location__text KIZAD offers both Free Zone and Domestic Industrial Zone facilities for investors, who can choose their facilities based on their business strategy and requirements.
                        p Whether you are a small start-up or an established large-scale business, KIZAD can offer customised business facilities spread across its Free Zone and Domestic Tariff Areas. Here you will find further information on the benefits and procedures to help you get started and considering the next steps.
                        //- +link('#', 'with-icon' ,' Read More ')

    .placeholder.placeholder--bg-grey
        .container
            .widget
                .widget__header
                    label.label About
                    h2.heading FEATURES &amp; BENEFITS OF BUSINESS SET UP
                    p The Free Zone jurisdiction allows 100% foreign ownership in companies, and it is suitable for wholesale distributors, re-exporters, warehousing activities, service providers and manufacturers targeting markets outside the MENA region.
            .row.features-table
                .col-12.offset-xl-1.col-xl-10
                    - let colTitle = ['Key Featured', 'Free Zone']
                    - let rowName = ['Ownership', 'Tax (Corporate, Income & Sales)', 'VAT', 'Sales in Local Market', 'Ownership', 'Tax (Corporate, Income & Sales)', 'VAT', 'Sales in Local Market']
                    - let rowVal = ['100% foreign ownership', '100% tax free', 'No VAT', 'Through distributors and / or local agents', '100% foreign ownership', '100% tax free', 'No VAT', 'Through distributors and / or local agents']

                    include ./widgets/features-table/features-table
                .col-12.offset-xl-1.col-xl-10
                    .features-table__btn
                        a.link.features-btn(href="javascript:void(0)") More Features
                            i.icon-arrow-down

    .placeholder
        .container
            .widget
                .widget__header
                    label.label Product
                    h2.heading COMPANY LEGAL TYPE
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .row.legal-type-wrap
                .col-12.col-md-6.col-xl-4
                    include ./widgets/legal-type/legal-type
                    +legalType('Limited liability Company','8')
                .col-12.col-md-6.col-xl-4
                    include ./widgets/legal-type/legal-type
                    +legalType('Branch Company','8')
                .col-12.col-md-6.col-xl-4.mx-md-auto
                    include ./widgets/legal-type/legal-type
                    +legalType('Optional Dual Licence for Free Zone Companies','8')

    .placeholder.placeholder--bg-grey
        .container
            include ./widgets/license-type/license-type

    .placeholder.placeholder--bg-grey
        .container
            .widget
                .widget__header
                    h2.heading COST OF SETTING UP THE BUSINESS IN KEIC
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id nisl vitae magna pellentesque ornare. Nam augue lectus, pulvinar non porttitor quis, egestas sit amet arcu. Sed in neque at diam vestibulum consectetur.
            .row
                include ./widgets/tariffs-tiles/tariffs-tiles
                .col-12.col-md-6.offset-xl-1.col-xl-5
                    +tariffsTiles({
                      title: 'Annual packages',
                      subtitle: 'Starting at',
                      price: 'USD 3,000',
                      terms: 'Per year'
                    })
                .col-12.col-md-6.col-xl-5
                    +tariffsTiles({
                      title: 'Offers valid until 30 June 2020',
                      subtitle: 'On first year of operations',
                      price: '25% OFF',
                      terms: ''
                    })

            include ./widgets/tariffs/tariffs
            .row.mt-4
                .col-12.offset-xl-1.col-xl-10.mt-xl-3
                    +anchor('btn btn-white secondary-bordered' ,'Download Offers')
                    +link('#', 'link-primary with-icon ml-4 icon-arrow-right' ,' Contact us ')
