extends layout/layout
block content

  .placeholder.placeholder--bg-mute
    .container
      .row
        .col-12
          include widgets/card-list/card-list


  .placeholder.placeholder--bg-light-grey
    .container.container--big
      .row
        .col-12
          include widgets/card-list/card-list


  .placeholder.placeholder--bg-mute
    .container.container--small
      .row
        .col-12
          include widgets/card-list/card-list