extends layout/layout
block content

  .placeholder.placeholder--no-padding
    include ./widgets/banner/banner
    
          


  .placeholder.placeholder--bg-primary.placeholder--no-padding
    .container
      .row
        include ./widgets/navigation-link/navigation-link
          
          


  .placeholder.placeholder--bg-mute
    .container.container--small
      .row
        .col-12
          

          

           
