extends layout/layout
block content

  .placeholder.placeholder--bg-mute
    .container
      .row
        .col-12
          +button('button', 'btn-primary' ,' Contact us ') 
          +button('button', 'btn-primary disabled' ,' Contact us ') 


  .placeholder.placeholder--bg-light-grey
    .container.container--big
      .row
        .col-12
          
          


  .placeholder.placeholder--bg-mute
    .container.container--small
      .row
        .col-12
        

          

           
