extends layout/layout
block content
  -
    var pages = [
      {name: 'Home', path:{en:'home-en.html', ar:'home-ar.html'}}, 
      {name: 'term and condition', path:{en:'termandcondition-en.html', ar:'termandcondition-ar.html'}}, 
      {name: 'cluster overview', path:{en:'cluster-overview-en.html', ar:'cluster-overview-ar.html'}}, 
      {name: 'Cluster Detail', path:{en:'Cluster Detail-en.html', ar:'Cluster Detail-ar.html'}},
      {name: 'Press Release', path:{en:'press-release-en.html', ar:'press-release-ar.html'}},
      {name: 'Free Zone', path:{en:'freezone-en.html', ar:'freezone-ar.html'}},

    //- {name: 'Contact Us', path:{en:'contact-en.html', ar:'contact-ar.html'}},
      //- {name: 'Component', path:{en:'component-en.html'}}
    ]
  
  div.placeholder
    div.container.py-5.d-flex
      ul.w-100.p-4
        each page in pages
          li.d-flex.justify-content-between.p-3.border-bottom
            span= page.name
            div
              a.px-5(href=page.path.en) English
              a(href=page.path.ar) Arabic

