extends layout/layout
block content



    .placeholder
        .container
            include ./widgets/team/team


    .placeholder.placeholder--no-padding
        .container
            include ./widgets/strategic-location/strategic-location