extends layout/layout
block content

    .placeholder.placeholder--no-padding
        .container
            .widget.text-center
                .widget__header
                    label.label Benefits
                    h2.heading What our partners choose to work with us
                    p.dt-primary KIZAD is the largest industrial and free trade zone in the UAE and offers the most competitive business setup solutions and infrastructure facilities in the region.
            include widgets/accordion-benefits/accordion-benefits

    .placeholder
        .container
            include ./widgets/team/team


    .placeholder
        .container
            include widgets/accordion-strategic/accordion-strategic

    .placeholder
        .container
            .widget
                .widget__header
                    label.label Case Study
                    h2.heading A STRATEGIC LOCATION FOR EGA
                    p Emirates Global Aluminium (EGA) is the world's larget 'premium aluminium' producer and the biggest industrial company in the UAE outside oil and gas. EAG has made KIZAD it's strategic location since 2007 and it's proximity to Khalifa Port is a key factor for its success and serving its customers better.
                    +link('#', 'with-icon d-inline-block mt-3' ,' Read More ')
            
            .row
                include ./widgets/case-study/case-study
                +caseStudy()

