extends layout/layout
block content

  .placeholder.placeholder--no-padding.inner-banner-image(style="background-image:url(${require(`./assets/images/home-banner.jpg`)})")
    include ./widgets/banner-inner/banner-inner
    +innerBanner({
      title: 'Warehouse',
      content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    })

  .placeholder
    .container.full-slider
        .location
          .row.no-gutters
              .col-12.col-lg-6
                  .location__image-wrap
                      img(src="${require(`./assets/images/city-img.jpg`)}")
              .col-12.col-lg-6
                .location__wrap-rtl.pt-0
                  h2.section__title Pre-Built Modular Warehouse Units
                  p.location__text KIZAD Logistics Park is the region’s advanced centre for storage, distribution and third-party logistics services to serve major markets in the Middle East, Africa and South Asia. KIZAD Logistics Park is a multi-phased development, allowing for unit sizes and designs in later stages to match the growing requirements of your business. Phase 1 and Phase 2 of KIZAD Logistics Park are almost completely leased out. Phase 3, now in its final stages of development, consists of 78 modular warehouse units of varying sizes totalling 44,096 m2.


  .placeholder.placeholder--bg-grey
    .container.feature-carousel
        .location
          .row
              .col-12.offset-lg-1.col-lg-10.col-xl-5
                  .location__image-wrap.location__slider-image
                      img(src="${require(`./assets/images/city-img.jpg`)}")
              .col-12.offset-lg-1.col-lg-10.offset-xl-0.col-xl-5
                .location__slider-content
                  .location__wrap-content
                    h2.section__title Single units
                    p.location__text Individual single units of varying sizes, shown below, are most suitable for startups and businesses with small-scale operations. The standard units provide different unit options of 440 m², 605 m², 756 m2, 880 m² and 1,210 m².
                  .location__wrap-image
                    img(src="${require(`./assets/images/city-img.jpg`)}")
                    ul.area-define
                      each x in [0,1,2]
                        li Plot Area: 
                          span 87,419 m2


  .placeholder#knowMore
      .container
          .widget
              .widget__header
                  label.label Product
                  h2.heading FREE ZONE AND DOMESTIC ZONE BENEFITS
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

          .row.info-card-container
              each item in [0,1]
                  .col-12.col-lg-6.info-card.info-card__without-btn
                      .info-card_inner
                        include ./widgets/info-card-description/info-card-description


  .placeholder
    .container
      .row.no-gutters
        include widgets/tab-content/tab-content
        +tabContent(true, true, false, idlist=['ctab1','ctab2','ctab3','ctab4'])


  .placeholder.placeholder--bg-grey
    include ./widgets/learn-more/learn-more


  .placeholder#faq
    .container.px-0
      include widgets/partner-slider/partner-slider

  .placeholder.placeholder--bg-grey
    .container
      .widget
          .widget__header.text-center
            label.label Frequently Asked Questions
            h2.heading Common questions about KIZAD
      include widgets/accordion/accordion


  .placeholder.placeholder--bg-grey
    .container
      .talk-card
        .talk-card__wrap.card-white
            .talk-card__img-wrap
                i.material-icons insert_drive_file
            .talk-card__descr.flex-column
                h2.talk-card__title.section__title.mb-2.mb-lg-4 download our brochure
                p.talk-card__text Khalifa Industrial Zone Abu Dhabi [KIZAD], a subsidiary of Abu Dhabi Ports, is the largest industrial and free trade zone in the MENA region and offers the most competitive business setup solutions and world-class infrastructure facilities in the UAE.Spread over 410 KM2, KIZAD is home to over 600 companies across industries such as Food, Polymers, Metals, Automotive, Pharmaceuticals, Logistics, Oil & Gas, among others.
            .talk-card__btn
                +anchor('btn-white secondary-bordered' ,'Download Brochure')