
.modal{
  padding: 0 !important;
  .close{
    z-index: 9999;
  }
  .modal-content{
    padding:40px 15px;
    @include lg(){
      padding:64px;
    }
  }
  button.close{
    background: transparent;
    opacity: 1;
    outline: 0;
    border: 0;
    position: absolute;
    right: 16px;
    top: 24px;
    @include lg(){
      right: 24px;
      top: 24px;
    }
    span{
      color: $secondary;
    }
  }
  .modal-header{
    border-bottom: none;
    padding: 0;
    @include lg{
      padding: 0;
      // span{
      //   font-size: 35px;
      //   color: #e60000;
      // }
    }
    .close{
      background: transparent;
      opacity: 1;
      outline: 0;
    }
  }

  &-dialog{
    max-width: 768px;
    margin: 0;
  }

  &-content{
    background-color: $grey-bg;
    border: 0;
    border-radius: 0;
    p{
      @include font-size($xs-font);
      @include line-height($sm-line-height);
      color: $primary;
      margin-bottom: 8px;
      @include lg(){
        margin-bottom: 32px;
      }
    }
  }
  &-body{
    @include lg{
      padding: 0;
    }
    .form-description{
      margin-bottom: 8px;
      @include lg(){
        margin-bottom: 32px;
      }
    }
  }

  .form{
    border-radius: 4px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
    background-color: $white;
    padding: 32px 16px;
    @include lg{
      padding: 40px;
      width: 100%;
    }
    input, textarea{
      border-radius: 4px;
      border: solid 1px #d9d8d9;
      background-color: $mute;
      color: $primary;
      font-family: $font-roboto-regular;
      @include font-size($xs-font);
      @include line-height($md-line-height);
      @include lg{
        @include font-size($sm-font);
      }
      &:focus{
        box-shadow: none;
      }
      & ~ span{
        opacity: 0;
      }
      &.error{
        border: 2px solid #e60000;
      }
      &.has-value,
      &.error{
        width: calc(100% - 32px);
        transition: width .2s;
        @include lg{
          width: calc(100% - 48px);
        }
        & ~ span{
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;

          &:after{
            font-family: 'icomoon' !important;
            font-size: 14px;
            line-height: 14px;
            @include lg{
              font-size: 20px;
              line-height: 20px;
            }
          }
        }
        &.valid ~ span,
        &.error ~ span{
          opacity: 1;
          transition: opacity 0.5s;
        }
        &.valid ~ span:after{
          color: #00ce64;
          content: "\e910";
        }
        &.error ~ span:after{
          color: #e60000;
          content: '\e90d';
        }
      }
    }
    input{
      height: 48px;
      padding: 16px 16px 0;
      transition: width .2s;
     text-align: left;
     @include md(){
      text-align: right;
      padding: 8px 16px 8px;
     }
      // @include lg{
      //   height: 48px;
      //   padding: 27px 16px;
      // }
    }
    textarea{
      resize: none;
      height: 112px;
      padding: 16px;
      @include placeholder{
        color: $light-grey;
      }
    }
    form{
      div:last-of-type{
        margin-bottom: 0;
      }
    }

    &__item{
      position: relative;
      margin-bottom: 16px;
      @include lg{
        margin-bottom: 24px;
      }
      label{
        pointer-events: none;
        margin: 0;
        position: absolute;
        top: 15px;
        left: 16px;
        font-family: $font-roboto-light;
        color: $light-grey;
        transition: all .3s ease-in-out;
        @include font-size($xs-font);
        @include line-height($md-line-height);
        @include lg{
          @include font-size($sm-font);
          top: 14px;
        }
      }
      input{
        &:focus,
        &.has-value{
          padding: 16px 16px 0;
          @include md(){
            padding: 8px 16px 8px;
           }
        }
        &:focus ~ label,
        &.has-value ~ label{
          top: 8px;
          font-family: $font-roboto-light;
          font-size: 12px;
          line-height: 14px;
          color: $grey;
          transition: all .3s ease-in-out;
          @include lg{
            top: 19px;
          }
        }
      }

    }
    // .g-recaptcha{
    //   max-width: 184px;
    //   max-height: 46px;
    //   transform:scale(0.6);
    //   -webkit-transform:scale(0.6);
    //   transform-origin:0 0;
    //   -webkit-transform-origin:0 0;
    //   @include md{
    //     max-width: 200px;
    //     max-height: 49px;
    //     transform:scale(0.66);
    //     -webkit-transform:scale(0.66);
    //   }
    // }
  }
  button{
    background-color: $grey;
    border: 0;
  }
}

#talk-modal, #feedback-modal{
  .placeholder{
    padding:0
  }
  .brochure-card, .product-wrapper {
    text-align: left;
    margin-top: 16px;
    @include lg{
      margin-top: 32px;
    }
    .product__wrap{
      padding-top: 0;
      padding-left: 0;
      @include md{
        padding-left: 16px;
        padding-top: 0;
      }
      
      
      p{
        margin-bottom: 20px;
        color:$grey;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
      .link, .btn{
        margin-top:24px;
        display: inline-block;
        @include md{
          margin-top:32px;
        }
      }
    }
    .product__image-wrap{
      margin-right: 0;
      img{
        border-radius: 4px;
        width:100%;
        @include md(){
          min-height: 10px;
          height: 220px;
        }
      }
    }
  }
}

#learnMore{
  // h2{
  //   @include font-size($xl-font);
  //     @include line-height($xxl-line-height);
  //     margin-bottom: 8px;
  // }

  .success-wrapper{
    .btn{
      margin-top: 30px;
      @include md(){
        width: fit-content;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        margin-top: 40px;
      }
    }
  }

}