
.modal{
  padding: 0 !important;
  .close{
    z-index: 9999;
  }
  .modal-content{
    > button.close{
      background: transparent;
      opacity: 1;
      outline: 0;
      border: 0;
      position: absolute;
      right: 16px;
      top: 24px;
      @include lg(){
        right: 80px;
        top: 40px;
      }
      span{
        color: $secondary;
      }
    }
  }
  .modal-header{
    border-bottom: none;
    padding: 24px 16px 0;
    @include lg{
      padding: 40px 80px 24px;
      span{
        font-size: 35px;
        color: #e60000;
      }
    }
    .close{
      background: transparent;
      opacity: 1;
      outline: 0;
    }
  }

  &-dialog{
    max-width: 1044px;
    margin: 0;
  }

  &-content{
    background-color: $grey-bg;
    border: 0;
    border-radius: 0;
    p{
      @include font-size($xs-font);
      @include line-height($paragraph-line-height);
      @include lg{
        @include font-size($sm-font);
      }
      color: $primary;
      @include lg{
        max-width: 724px;
      }
    }
  }
  &-body{
    @include lg{
      padding: 0 0 80px;
    }
  }

  .form{
    border-radius: 4px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    padding: 32px 16px;
    @include lg{
      padding: 80px;
      max-width: 884px;
    }
    input, textarea{
      border-radius: 4px;
      border: solid 1px #d9d8d9;
      background-color: $mute;
      color: $primary;
      font-family: $font-roboto-regular;
      @include font-size($xs-font);
      @include line-height($md-line-height);
      @include lg{
        @include font-size($sm-font);
      }
      &:focus{
        box-shadow: none;
      }
      & ~ span{
        opacity: 0;
      }
      &.error{
        border: 2px solid #e60000;
      }
      &.has-value,
      &.error{
        width: calc(100% - 32px);
        transition: width .2s;
        @include lg{
          width: calc(100% - 48px);
        }
        & ~ span{
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;

          &:after{
            font-family: 'icomoon' !important;
            font-size: 14px;
            line-height: 14px;
            @include lg{
              font-size: 20px;
              line-height: 20px;
            }
          }
        }
        &.valid ~ span,
        &.error ~ span{
          opacity: 1;
          transition: opacity 0.5s;
        }
        &.valid ~ span:after{
          color: #00ce64;
          content: "\e910";
        }
        &.error ~ span:after{
          color: #e60000;
          content: '\e90d';
        }
      }
    }
    input{
      height: 52px;
      padding: 17px 16px;
      transition: width .2s;
      @include lg{
        height: 78px;
        padding: 27px 16px;
      }
    }
    textarea{
      resize: none;
      height: 112px;
      padding: 16px;
      @include placeholder{
        color: $mute-grey;
      }
    }
    form{
      div:last-of-type{
        margin-bottom: 0;
      }
    }

    &__item{
      position: relative;
      margin-bottom: 16px;
      @include lg{
        margin-bottom: 24px;
      }
      label{
        pointer-events: none;
        margin: 0;
        position: absolute;
        top: 15px;
        left: 16px;
        font-family: $font-roboto-regular;
        color: $mute-grey;
        transition: all .3s ease-in-out;
        @include font-size($xs-font);
        @include line-height($md-line-height);
        @include lg{
          @include font-size($sm-font);
          top: 27px;
        }
      }
      input{
        &:focus,
        &.has-value{
          padding: 26px 16px 6px;
        }
        &:focus ~ label,
        &.has-value ~ label{
          top: 8px;
          font-family: $font-roboto-light;
          font-size: 12px;
          line-height: 14px;
          color: $grey;
          transition: all .3s ease-in-out;
          @include lg{
            top: 16px;
          }
        }
      }

    }
    .g-recaptcha{
      max-width: 184px;
      max-height: 46px;
      transform:scale(0.6);
      -webkit-transform:scale(0.6);
      transform-origin:0 0;
      -webkit-transform-origin:0 0;
      @include md{
        max-width: 200px;
        max-height: 49px;
        transform:scale(0.66);
        -webkit-transform:scale(0.66);
      }
    }
  }
  button{
    background-color: $grey;
    border: 0;
  }
}

#talk-modal, #feedback-modal{
  .brochure-card{
    text-align: left;
    margin-top: 24px;
    .product__wrap{
      h2{
        margin: 0 0 24px 0;
        line-height: 28px;
        font-size: 24px
      }
      p{
        margin-bottom: 20px;
        color:$grey;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
      .link{
        margin-top:20px;
        display: block;
      }
    }
    .product__image-wrap{
      img{
        @include lg(){
          min-height: 217px;
        }
      }
    }
  }
}

#learnMore{
  .success-wrapper{
    .btn{
      @include md(){
        width: fit-content;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
      }
    }
  }
}