footer {
    color: $white;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $font-roboto-light;
    @include custom-width(0px, 991px) {
        background-image: none !important;
    }
    .footer-wrapper {
        padding: 40px 0;
        background-repeat: no-repeat;
        background-size: contain;
        @include lg() {
            padding: 80px 0;
        }
        .footer-logo {
            img {
                height: 40px;
                margin-bottom: 30px;
                @include lg() {
                    height: 80px;
                    margin-bottom: 0;
                }
            }
        }
        .widget-brochure {
            color: $white;
            padding-right: 0px;
            padding-bottom: 30px;
            @include lg() {
                padding-right: 40px;
                padding-bottom: 0;
            }
            h4 {
                margin-bottom: 15px;
                letter-spacing: 1px;
                @include font-size($lg-font);
                @include lg() {
                    @include font-size($sm-font);
                    margin-bottom: 30px;
                }
            }
            img {
                height: auto;
                margin-bottom: 20px;
                @include md() {
                    height: 120px;
                }
            }
            p {
                @include font-size($xs-font);
                @include line-height($md-line-height);
            }
            .btn {
                width: 100%;
                margin-bottom: 15px;
                @include md() {
                    margin-right: 15px;
                    width: auto;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .footer-link {
            @include md() {
                margin-top: 30px;
            }
            @include xl() {
                margin-top: 0px;
            }
            a{
                color:$white;
            }
            h4 {
                margin-bottom: 0px;
                font-size: 16px;
                @include md() {
                    margin-bottom: 30px;
                    @include font-size($sm-font);
                }
            }
            ul {
                li {
                    list-style: none;
                    padding-bottom: 15px;
                }
                @include md() {
                    display: block !important;
                    height: auto !important;
                }
            }
            @media (max-width: 767px) {
                h4 {
                    padding: 20px 0;
                    border-bottom: 1px solid rgba(216, 216, 216, 0.4);
                    position: relative;
                    text-transform: capitalize;
                    i {
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: $secondary;
                    }
                }
                ul {
                    display: none;
                    margin-bottom: 0px;
                    padding: 10px 0;
                    li {
                        padding-bottom: 0;
                        padding: 10px 0;
                    }
                }
            }
        }
        .link-wrapper {
            @include lg {
                padding-left: 70px;
            }
        }
    }
    .footer-copyright {
        padding: 10px 0 55px;
        @include xl() {
            padding: 10px 0;
        }

        .copyright {
            @include font-size($xxs-font);
            font-weight: bold;
            display: flex;
            align-items: baseline;
            @include md() {
                @include font-size($xs-font);
                align-items: center;
            }
        }
        .term-condition {
            font-size: 12px;
            display: flex;
            text-align: right;
            justify-content: flex-end;
            @include md() {
                @include font-size($xxs-font);
                align-items: center;
            }
            @include lg() {
                justify-content: flex-start;
            }
            ul {
                li {
                    display: inline-block;
                    margin-bottom: 5px;
                    @include md() {
                        margin-right: 30px;
                        margin-bottom: 0px;
                    }
                    &:last-child {
                        margin-right: 0;
                        margin-bottom: 0px;
                    }
                    a {
                        color: $white;
                    }
                }
            }
        }
        .social-media {
            float: left;
            padding-right: 0;
            width:100%;
            @include lg() {
                float: right;
            }
            h6 {
                display: none !important;
            }
            ul {
                justify-content: flex-end;
                
                @include custom-width(0px, 991px) {
                    justify-content: center;
                }
                li {
                    height: 32px;
                    width: 32px;
                    a {
                        font-size: 18px;
                        line-height: 1;
                    }
                }
            }
        }
    }
}
