body {
  @include font-size($xs-font);
  font-weight: lighter;
  font-family: $font-roboto-regular;
  line-height: 1.25;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-archive-bold;
}

p {
  font-family: $font-roboto-light;
  @include font-size($paragraph-font);
  @include line-height($paragraph-line-height);
}

a {
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

.grey-bg {
  background-color: $grey-bg;
}

.primary-bg {
  background-color: $primary;
}

.secondary-bg {
  background-color: $secondary;
}
.white-bg {
  background-color: $white;
}
.black-bg {
  background-color: $black;
}

.h2-heading{
  
}

.title {
  text-transform: uppercase;
  letter-spacing: 1.5;
  @include font-size($xs-font);
}

.section {
  &__title {
    font-family: $font-archive-bold;
    color: $primary;
    text-transform: uppercase;
    @include font-size($section-title-font);
    line-height: 1.33;
    letter-spacing: 0.6px;
    @include lg {
      line-height: 1.2;
      letter-spacing: 1px;
    }
  }
  &__subtitle {
    font-family: $font-roboto-medium;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.92px;
    color: #989898;
  }
}
ul {
  margin: 0;
  padding: 0;
}

.block-content{
  padding-left:0;
  padding-right:0;
  @include lg(){
    padding-left:100px;
  padding-right:100px;
  }
}

.image-popup{
  position: relative;
  display: block;
  .zoom-icon{
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    color:$secondary;
    background-color: $white;
    right: 20px;
    bottom:20px;
  }
}