body{
    @include font-size($xs-font);
    font-weight: lighter;
    font-family: $font-roboto-regular;
    line-height: 1.25;
  }
  h1,h2,h3,h4,h5,h6{
      font-family: $font-archive-bold;
  }

  p{
    font-family: $font-roboto-light;
  }

  a{
    &:hover{
      text-decoration: none;
    }
  }

  img{
    max-width:100%;
  }

  .grey-bg{
    background-color: $grey-bg;
  }

  .primary-bg{
    background-color: $primary;
  }

  .secondary-bg{
    background-color: $secondary;
  }
  .white-bg{
    background-color: $white;
  }
  .black-bg{
    background-color: $black;
  }

  .title{
      text-transform: uppercase;
      letter-spacing: 1.5;
      @include font-size($sm-font);
  }

  .section{
    &__title{
      font-family: $font-archive-bold;
      color: $primary;
      text-transform: uppercase;
      @include font-size($section-title-font);
      line-height: 1.33;
      letter-spacing: 0.6px;
      @include lg{
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: 1px;
      }
    }
    &__subtitle{
      font-family: $font-roboto-medium;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.92px;
      color: #989898;
    }
  }
  .placeholder{
    &__info-card {
      padding: 20px 0;
      @include lg {
        padding: 80px 0;
      }
    }
    &__partners{
      padding: 32px 0 0;
      @include lg {
        padding: 80px 0;
      }
    }
    &__news-slider{
      padding: 32px 0;
      @include lg{
        padding: 45px 0 0;
      }
    }
  }
  ul{
    margin: 0;
    padding:0;
  }
  