div(aria-label="...")
  .pagination
    .page-item(disabled)
      .page-link(href="#" tabindex="-1") Previous
    .page-item.active
        a.page-link(href="#") 1
    .page-item
      a.page-link(href="#") 2 
    .page-item
        a.page-link(href="#")   3
    .page-item
      a.page-link(href="#") Next