.news-widget {
    border-radius: 4px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
    background-color: $white;
    height:100%;
    &:hover{
        cursor: pointer;
        .news-widget__text{
            color:$secondary;
        }
    }
    &__image {
        img{
          border-top-right-radius: 4px;
          border-top-left-radius: 4px;
          object-fit: cover;
          width: 100%;
          height: calc((100vw - 30px) * 0.561);
          @include md{
            height: calc((50vw - 30px) * 0.561);
          }
          @include lg{
            height: calc((100vw/3 - 30px) * 0.561);
            max-height: 265px;
          }
        }
    }
    &__content {
        padding: 15px 16px 24px;
        @include md {
            padding: 24px;
        }
        .card-stamp {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            align-items: center;
        }
        p:not(.news-widget__text){
            margin-bottom: 24px;
        }
    }
    &__date,
    &__food{
      font-family: $font-roboto-medium;
      font-size: 12px;
      letter-spacing: .92px;
      @include lg(){
        font-size: 14px;
        letter-spacing: 1.08px;
      }
    }
    &__date {
        color: $lighter-grey;
    }
    &__food {
        ul {
            display: flex;
            list-style-type: none;
            li {
                color: $secondary;
                &:first-child {
                    &:before {
                        display: none;
                    }
                }
                &::before {
                    content: "\A";
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: $secondary;
                    display: inline-block;
                    margin: 2px 10px;
                }
            }
        }
    }
    &__text {
        font-family: $font-roboto-regular;
        overflow: hidden;
        color: $primary;
        transition: .3s;
        @include md {
            margin-bottom: 15px;
        }
    }
}

.news-wrapper{
    margin-bottom: 30px;
}
