.news-widget {
    border-radius: 4px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
    background-color: $white;
    height:100%;
    display: block;
    position: relative;
    &:hover{
        cursor: pointer;
        p{
            color:$secondary;
        }
    }
    &__image {
        img{
          border-top-right-radius: 4px;
          border-top-left-radius: 4px;
          object-fit: cover;
          width: 100%;
          height: 168px;
          @include md{
            height:197px;
          }
        }
    }
    &__content {
        padding: 16px 16px 74px;
        @include md {
            padding: 24px 24px 94px ;
        }
        .card-stamp {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
            align-items: center;
            flex-wrap: wrap;
            @include md{
                margin-bottom: 24px;
            }
        }
        p{
            margin-bottom: 16px;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
        .link.with-icon:before{
            display:inline-block;
        }
        // p:not(.news-widget__text){
        //     margin-bottom: 24px;
        // }
    }
    &__date,
    &__food{
      font-family: $font-roboto-medium;
      font-size: 12px;
      letter-spacing: .92px;
      padding-top: 5px;
      line-height: normal;
      @include lg(){
        font-size: 14px;
        letter-spacing: 1.08px;
      }
    }
    &__date {
        color: $lighter-grey;
    }
    &__food {
        ul {
            display: flex;
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
            
            li {
                color: $secondary;
                margin-top: 0;
                font-size: 12px;
                 line-height: normal;
                @include md{
                    @include font-size($xxs-font);
                    @include line-height($sm-line-height);
                }
                &:first-child {
                    &:before {
                        display: none;
                    }
                }
                &::before {
                    content: "\A";
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: $secondary;
                    display: inline-block;
                    margin: 2px 10px;
                    position: relative;
                    left: 0;
                    top:0
                }
            }
        }
    }
    &__text {
        font-family: $font-roboto-regular;
        overflow: hidden;
        color: $primary;
        transition: .3s;
        line-height: 22px;
        @include md {
            margin-bottom: 0;
        }
    }
    .link{
        position: absolute;
        bottom: 24px;
        padding: 0;
    }
}

.news-wrapper{
    margin-bottom: 30px;
}
