.features-table__wrap
    table
        tr
            each item, x in colTitle
                th= colTitle[x]
        each item, x in rowName
            tr
                td= rowName[x]
                td
                    ul
                        li Test test test
                        li test test test
