.anchor-link(anchor-wrapper)
    i.icon-arrow-down
    ul
        -var ids = ['about', 'benifits', 'products', 'partners','knowMore', 'Sustainability', 'faq']
        -var link = ['About kizad', 'Benifits', 'Products', 'Business Partners', 'Know More', 'Enabling Sustainability', 'FAQ']
        each items, x in link
            li
                a(href='#'+ids[x])= items