.anchor-link(anchor-wrapper)
    ul
        -var link = ['About kizad', 'Benifits', 'Products', 'Business Partners', 'Know More', 'Enabling Sustainability', 'FAQ']
        each x in link
            li
                a(href='javascript:void(0)')= x