.anchor-link{
    margin: 0 auto;
    font-family: $font-roboto-regular;
    ul{
        list-style: none;
        display: flex;
        li{
            padding:0 40px;
            display: flex;
            a{
                @include link-hover;
                padding:30px 0;
                color:$white;
                &:after{
                    bottom: 0px;
                }
                &.active{
                    &:after{
                        left:0;
                        width:100%;
                    }
                }
            }
        }
    }
}