.anchor-link{
    margin: 0;
    font-family: $font-roboto-regular;
    width:100%;
    position: relative;
    
    i.icon-arrow-down {
        color: $secondary;
        position: absolute;
        right: 13px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        @include xl(){
            display: none;
        }
    }
    ul{
        list-style: none;
        display: none;
        @include xl(){
            display: flex;
        }
        li{
            padding:0 40px;
            display: flex;
            a{
                @include link-hover;
                padding:30px 0;
                color:$white;
                &:after{
                    bottom: 0px;
                    height:4px;
                }
            }
            &.active{
                a{
                    &:after{
                        left:0;
                        width:100%;
                    }
                }
            }
        }
    }
    select{
        width: 100%;
        background: $primary;
        color:$white;
        border: 0;
        padding: 20px 15px;
        -webkit-appearance: none;
        -moz-appearance: none;
        @include font-size($xs-font);
        @include xl(){
            display: none;
        }
        option{
            &[selected]{
                color: $white;
            }
        }
        &:after{
            position: absolute;
            top:20px;
            right:20px;
        }
    }
}
.fixed-anchor{
    position: fixed;
    top:80px;
    width:100vw;
    z-index: 99;
    @include md(){
        top:94px;
    }
    @include xl(){
        top:90px;
        width:calc(100vw - 17px);
    }
}