.link{
    @include font-size($xs-font);
    padding:10px 0;
    color:$secondary;
    font-family: $font-roboto-medium;
    &:hover{
        color:$secondary;
        text-decoration: underline;
    }
    &.disabled{
        color:$disabled;
        &:hover{
            text-decoration: none;
        }
    }
    &.link-primary{
        color: $primary;
    }
    &.with-icon{
        &:after{
            content: '\E909';
            margin-left: 14px;
            font-size: 20px;
            line-height: 20px;
            font-weight: 100;
            vertical-align: middle;
            @include transition(all .55s ease-in-out);
        }
        &:before{
            content: '';
        }
        &:hover{
            text-decoration: none;
            &:after{
                margin-left: 25px;
            }
        }
        span{
            font-family: $font-roboto-medium;
        }
    }
}